<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @*<meta name='viewport'
             content='width=device-width, initial-scale=1.0, maximum-scale=1.0,
        user-scalable=0'>*@
    <title>App live</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="~/Content/layout.css" rel="stylesheet" />
    <link href="~/Content/swiper-bundle.min.css" rel="stylesheet" />
    <link href="~/Content/prettify.css" rel="stylesheet" />
    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
   
</head>
<body>

    @*Main*@
    <div id="main">
        @RenderBody()
    </div>
    <div class="container opacity-background" id="img-live" style="visibility:hidden">
        <div class="d-flex justify-content-end" style="position: fixed; bottom: 130px; right: 20px;  z-index: 1000;" data-bind="click: $root.live">
            <img src="~/fonts/icon/icon-live.png" width=50 height=50 />
        </div>
    </div>
    <div id="close-audio" class="d-flex opacity-background" style="position: fixed;
        width: 100%;
        height: 50px;
        bottom: 40px;
        z-index: 1000;
        border-top: solid 1px #e5e5e5;
        border-bottom: solid 1px #e5e5e5;
        background-color: white;
        visibility:hidden
">
        <div style="width:20%;">
            <img id="img-selected" src="" alt="img" class="img-fluid" style="padding:4px; width:100% ;height:50px" />
        </div>
        <div style="width:50%;  ">
            <p style="padding-left:5%; background-color:white"><span style="font-weight: bold; height: 100%; padding-top:5%;font-size: 16px;"><marquee behavior="scroll" scrollamount="1" direction="left" id="name"></marquee> </span> <br /><span style="color: #b2b2b2" name="author"></span></p>
        </div>
        <div class="d-flex d-flex justify-content-around" style="width:30%; background-color:white; margin-left:5%">
            <div style="width:15%; margin-top:10%;">
                <img src="~/fonts/icon/left.png" class="img-fluid" />
            </div>
            <div style="width:15%; margin-top:10%; " data-bind="click: $root.clickPlay">
                <img id="play-pause" src="~/fonts/icon/pause.png" class="img-fluid" />
            </div>
            <div style="width:15%;  margin-top:10%;">
                <img id="close-audio" src="~/fonts/icon/right.png" class="img-fluid" />
            </div>
        </div>
        <div style="width:5%; ">
            <i class="fas fa-times" style="margin-left:27%;" data-bind="click: $root.closeAudio"></i>
        </div>
        <div>
            <audio id="audio-play"
                   volume="0.4" autoplay="autoplay">
            </audio>
        </div>
    </div>

    <div id="avg-nav-bar" class="opacity-background">
        <button class="select-button selected" data-bind="click: $root.homeApp">
            <i class="demo-icon icon-home-outline"></i>
            <span>Trang chủ</span>
        </button>
        <button class="select-button " data-bind="click: $root.trend">
            <i class="demo-icon icon-bell"></i>
            <span>Tin Mới</span>
        </button>
        <button class="select-button button-video" data-bind="click: $root.videoApp">
            <i class="demo-icon icon-videocam-5"></i>
            <span>Video</span>
        </button>
        <button class="select-button" data-bind="click: $root.audioApp">
            <i class="demo-icon icon-mic-outline"></i>
            <span>Audio</span>
        </button>
        <button class="select-button" data-bind="click: $root.userApp">
            <i class="demo-icon icon-user-o"></i>
            <span>Cá nhân</span>
        </button>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/swiper-bundle.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/vi.js"></script>
    <script src="https://kit.fontawesome.com/e5c3f46e36.js" crossorigin="anonymous"></script>

    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/prettify.js"></script>
    <script src="/Scripts/knockout-3.4.2.js"></script>
    <script src="/Scripts/knockout.mapping-latest.js"></script>
    <script src="/Scripts/knockout.validation.min.js"></script>
    <script src="/Scripts/knockout-postbox.min.js"></script>

    <script>
        var tab = 0;
        var tabHome = 0;
        $('.select-button ').click(function () {
            $('.selected').removeClass('selected');
            $(this).addClass('selected');
        });
        $(document).ready(function () {
            $.ajax({
                url: '/Home/HomeApp',
                type: 'GET',
                contentType: 'application/html; charset=utf-8',
                dataType: 'html'
            }).done(function (data) {
                $("#body-content").html(data);
            });
        });
        jQuery(document).ready(function () {
            moment.locale('vi');
        });

        var VideoDetailModel = function () {
            var self = this;
            self.videoDetail = ko.observableArray();
        }
        $(function () {
            ko.cleanNode(document.getElementById("body-content"));
            var videoDetailModel = new VideoDetailModel();
            ko.applyBindings(videoDetailModel, document.getElementById("body-content"));
        })

    </script>
    <script src="~/Scripts/jquery.imageCache.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
