<div id="podcast" style="display:none">
    <div style="margin-top:40px">
        <div class="scrollmenu">
            <!--ko foreach: menuAuBook -->
            <a href="#" class="menuAudio clicked-menu" data-bind="click: $root.loadAlbumPage, attr: {id: 'podcast_' + $index() }"><span data-bind="text: Name"></span></a>
            <!-- /ko -->
        </div>
    </div>
    <div class="swiper-container  swiper4" style="margin-bottom:45px;">
        <div class="swiper-wrapper swiper-height "  data-bind="foreach: $root.menuAuBook()">
            <div class="swiper-slide   d-flex" style="flex-direction:column">
                <!--ko ifnot: $data.ArrayFirst().length >0 -->
                <div>
                    <div>
                        <div class="card br" style="margin-top:100px;">
                            <div class="wrapper">
                                <div class="comment br animate w80"></div>
                                <div class="comment br animate"></div>
                                <div class="comment br animate"></div>
                            </div>
                        </div>
                        <div class="card br">
                            <div class="wrapper">
                                <div class="comment br animate w80"></div>
                                <div class="comment br animate"></div>
                                <div class="comment br animate"></div>
                            </div>
                        </div>
                        <div class="card br">
                            <div class="wrapper">
                                <div class="comment br animate w80"></div>
                                <div class="comment br animate"></div>
                                <div class="comment br animate"></div>
                            </div>
                        </div>
                        <div class="card br">
                            <div class="wrapper">
                                <div class="comment br animate w80"></div>
                                <div class="comment br animate"></div>
                                <div class="comment br animate"></div>
                            </div>
                        </div>
                        <div class="card br">
                            <div class="wrapper">
                                <div class="comment br animate w80"></div>
                                <div class="comment br animate"></div>
                                <div class="comment br animate"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!--ko if: $data.ArrayFirst().length >0 -->
                <div style="margin:0 2%">
                    <div class="audio-podcast" style="width:100%;background-color:white ;" data-bind="foreach:ArrayFirst">
                        <div data-bind="click: $root.selectedData" style="border-radius: 3px;">
                            <div class="img img-text-bottom-left">
                                @*<img src="/fonts/icon/icon-audio.png" class="icon-audio " height="50" width="50">*@
                                <img class="img-fluid  " style="width:100%; height:100% ;border-top:3px" data-bind="attr: {src: image360_360}" />
                            </div>
                            <div class="container" style="background-color:white; padding-top:12px; padding-bottom:12px;border-radius:3px;">
                                <p class="text" style="color:black; font-size:20px;"><strong data-bind="text:Name"></strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap justify-content-between" style="margin-top:10px;" data-bind="foreach:Array">
                        <div style="width:49%; background-color:white; margin-bottom:10px; border-radius:3px;" data-bind="click: $root.selectedData">
                            <div class="img img-text-bottom-left">
                                @*<img src="/fonts/icon/icon-audio.png" class="icon-audio " height="50" width="50">*@
                                <img class="img-fluid  " style="width:100%; height:100%;border-top:3px " data-bind="attr: {src: image182_182}" />
                            </div>
                            <div class="container" style="background-color:white; padding-top:5px; height:62px;border-radius:3px;">
                                <p class="text" style="color:black; font-size:17px; "><strong data-bind="text: Name"></strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
<div id="selectedAudiobookDetail" style="display:none">   
    <div id="top-header" style="position:fixed;top: 0; width: 100%;z-index:1002">
        <div class="side-nav">
            <nav class="navbar navbar-light ">
                <div class="d-flex justify-content-between" style="width:100%;">
                    <div data-bind="click: $root.backMenu">
                        <a class="navbar-brand" href="#">
                            <span><i class="fas fa-arrow-left" style="width:30px;padding-top:5px; color:white"></i></span>
                        </a>
                    </div>
                    <div>
                        <img src="https://vtc.vn/Content/mobile/images/logo.png" style="max-height:31px;max-width: 123px;" />
                    </div>
                    <div>
                        <i class="demo-icon icon-search" style="color:white; font-size:18px; padding-top:6px;"></i>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="hidden-detail" style="margin-top:56px;background-color:#1f2342;" data-bind="with: $root.audiobookSeleced">
        <div>
            <div>
                <div class="d-flex  container" width:100%">
                    <div style="width:70%; margin-top:15px;">
                        <div class="img img-text-bottom-left">
                            <img class="img-fluid img-content" style="height:220px;border-radius:17px;" data-bind="attr: {src: $data.Info.image360_360}" />
                        </div>
                    </div>

                </div>
                <div style="color:white;" class="container">
                    <h3 style="font-weight:bold; padding-top:10px" data-bind="text: $data.Info.Name"> </h3>
                    <!--ko if: $data.Info.Author.length>0 -->
                    <p>Tác giả: <span data-bind="text: $data.Info.Author"></span></p>
                    <!-- /ko -->
                    <p class="text-content-detail" data-bind="text: $data.Info.Des">
                    </p>
                </div>
            </div>
            <div class="container" style="padding-top: 10px;">
                <div class="container" style="border-radius: 7px;background-color: #fff7cc;">
                    <div class="d-flex justify-content-center ">
                        <div>
                            <h3 style="font-weight:bold; ">Danh sách chương </h3>
                        </div>
                    </div>
                    <div class="slim-scroll" style="overflow-y: scroll;">
                        <div data-bind="foreach: $root.Items">
                            <div class="d-flex justify-content-between" data-bind="click: $root.selectedItem">
                                <div style="width:20%;">
                                    <img style=" border-radius: 7px; height:55px;" class="img-fluid" data-bind="attr: {src: image182_182}" />
                                </div>
                                <div style="width:60%">
                                    <h6 style="font-weight: bold;"><span data-bind="text:Name"></span></h6>
                                </div>
                                <div style="width:10%">
                                    <img class="img-fluid" src="~/fonts/icon/icon-share.png" />
                                </div>
                            </div>
                            <hr style="border: 1px solid #cab960; opacity:0.5" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container" style="margin-top:10px;" id="detail-catagory">
            <h3 style="color:white">Cùng thể loại</h3>          
                <div class="d-flex flex-wrap justify-content-between" style="margin-top:10px;" data-bind="foreach: $root.category">
                    <div style="width:49%; background-color:white; margin-bottom:10px; border-radius:3px;" data-bind="click: $root.selectedData">
                        <div class="img img-text-bottom-left">
                            @*<img src="/fonts/icon/icon-audio.png" class="icon-audio " height="50" width="50">*@
                            <img class="img-fluid  img-content" style="width:100%; height:100%;border-top:3px " data-bind="attr: {src: image182_182}" />
                        </div>
                        <div class="container" style="background-color:white; padding-top:5px; height:62px;">
                            <p class="text" style="color:black; font-size:17px; "><strong data-bind="text:Name"></strong></p>
                        </div>
                    </div>
                </div>
           
        </div>
    </div>
</div>
    <script src="~/AppJs/menuPodcast.js?v=14"></script>
