<div id="mySidenav" style="width:0px" class="sidenav">
   
</div>

<script>
    $(document).ready(function () {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.body.style.backgroundColor = "white";
    });
    function openNav() {
        document.getElementById("mySidenav").style.width = "80%";
        $('.opacity-background').css('opacity', 0.4);
    }
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        $('.opacity-background').css('opacity', 1);;
    }
   
</script>