<div class="avg-screen-loading" id="screen-welcome" style="display:none">
    <img style="width:100%; height:100%" src="~/Content/imgs/lachapp.png" />
</div>
<div id="lazyloading" style="display:none">
    <div id="top-header" style="position:fixed;top: 0; width: 100%;z-index:1001">
        <div class="side-nav">
            <nav class="navbar navbar-light ">
                <div class="d-flex justify-content-between opacity-background" style="width:100%;">
                    <div>
                        <a class="navbar-brand" href="#" style="padding-top:0px">
                            <span style="font-size:16px;cursor:pointer; color:white"><i class="demo-icon icon-left-4" style="color:white"></i></span>
                        </a>
                    </div>
                    <div>
                        <img src="https://vtc.vn/Content/mobile/images/logo.png" style="max-height:31px;max-width: 123px;" />
                    </div>
                    <div>
                        <i class="demo-icon icon-search" style="color:white; font-size:18px; padding-top:6px;"></i>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div>
        <div class="card br" style="margin-top:100px;">
            <div class="wrapper">
                <div class="comment br animate w80"></div>
                <div class="comment br animate"></div>
                <div class="comment br animate"></div>
            </div>
        </div>
        <div class="card br">
            <div class="wrapper">
                <div class="comment br animate w80"></div>
                <div class="comment br animate"></div>
                <div class="comment br animate"></div>
            </div>
        </div>
        <div class="card br">
            <div class="wrapper">
                <div class="comment br animate w80"></div>
                <div class="comment br animate"></div>
                <div class="comment br animate"></div>
            </div>
        </div>
        <div class="card br">
            <div class="wrapper">
                <div class="comment br animate w80"></div>
                <div class="comment br animate"></div>
                <div class="comment br animate"></div>
            </div>
        </div>
        <div class="card br">
            <div class="wrapper">
                <div class="comment br animate w80"></div>
                <div class="comment br animate"></div>
                <div class="comment br animate"></div>
            </div>
        </div>
    </div>
</div>
<div id="HomeApp" style="display:none">
    <div id="top-header" style="position:fixed;top: 0; width: 100%;z-index:1001">
        <div class="side-nav">
            <nav class="navbar navbar-light ">
                <div class="d-flex justify-content-between opacity-background" style="width:100%;">
                    <div>
                        <a class="navbar-brand " href="#" style="padding-top:0px" data-toggle="modal" data-target="#myModal">
                            <i class="demo-icon icon-menu" style="color:white"></i>
                        </a>
                    </div>
                    <div>
                        <img src="https://vtc.vn/Content/mobile/images/logo.png" style="max-height:31px" />
                    </div>
                    <div>
                        <i class="demo-icon icon-search" style="color:white; font-size:18px; padding-top:6px;"></i>
                    </div>
                </div>
            </nav>
        </div>
        <div style="margin-top: -10px;" class="opacity-background">
            <div class="scrollmenu">
                <a class="clicked clicked-menu" id="clicked-menu" href="#">
                    <i class="demo-icon icon-home-outline"></i>
                </a>
                <!--ko foreach: $root.homeMenus -->
                <a href="#" class="clicked-menu" data-bind="click: $root.ChooseMenu"><span data-bind="text: Title"></span></a>
                <!-- /ko -->
            </div>
        </div>
    </div>    
    <!--ko if: $root.homeMenus().length >0 -->
    <div class="opacity-background load-hidden" style="margin-top:90px">
        <!--ko foreach: firstGetarticleHots -->
        <div style="width:100%" data-bind="click: $root.clickDetailNew1" class="click-active">
            <img class=" img-fluid  lazy-img" style="width:100%" src="/Content/imgs/lazy_optimized.jpg" data-bind="attr: { 'ref-src':image16_9_large }" />          
            <div class="container click-active" style="margin-top:10px">
                <p style="font-size:24px; line-height: initial;text-align:left;">
                    <strong data-bind="text: Title"></strong>
                    <span data-bind="if: IsVideoArticle  == 1"><i class="fas fa-video" style="color:#a3161d"></i></span>
                </p>
                <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(PublishedDate()).fromNow()"></span> <span style="color:#a3161d" data-bind="text: CategoryName"></span></p>
            </div>
        </div>
        <hr class="hr-bottom" />
        <!-- /ko -->
        <!--ko foreach: articleHots -->
        <div class="container" data-bind="click: $root.clickDetailNew1">
            <div class="d-flex " style="width:100%">
                <div style="width:40%">
                    <img class=" img-fluid img-content   lazy-img" style="width:100%" src="/Content/imgs/lazy_optimized.jpg" data-bind="attr: { 'ref-src':image16_9 }" />                  
                </div>
                <div style="width:60%; margin-left:5%" class=" ">
                    <p class="p-content" data-bind="text: Title"></p>
                    <span data-bind="if: IsVideoArticle  == 1"><i class="fas fa-video" style="color:#a3161d"></i></span>
                    <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(PublishedDate()).fromNow()"></span> <span style="color:#a3161d" data-bind="text: CategoryName"></span></p>
                </div>
            </div>
            <hr class="hr-bottom-parent" />
        </div>
        <!-- /ko -->

        <div style="background-color:#da9912;">
            <div style="padding:12px;">
                <!--ko if: $data.channelHots().length >0 -->
                <h4 style="color:#a3161d" data-bind="click: $root.loadListChannel">
                    <img src="~/fonts/icon/icon3.png" width=30 height=30 /> <span class="click-active"><strong>Chuyên đề nóng</strong></span>
                </h4>
                <!-- /ko -->
            </div>
            <div class="container">
                <div class="d-flex flex-wrap justify-content-between" data-bind="foreach: $root.channelHots">
                    <div style="width:48%; " data-bind="click: $root.loadSelectedChannel">
                        <div class=" img">
                            <img class="img-fluid img-content lazy-img" style="width:100%" src="/Content/imgs/lazy_optimized.jpg" data-bind="attr: { 'ref-src':image16_9 }" />                        
                        </div>
                        <p class="p-content" style="font-size: 18px;padding-top:10px;" data-bind="text: Title"></p>
                    </div>
                </div>
            </div>
        </div>

        <!--ko foreach: articleSuggestionHome -->
        <div class="container " style="margin-top:15px" data-bind="click: $root.clickDetailNew1">
            <div class="d-flex" style="width:100%">
                <div style="width:40%">
                    <div class="div-4-3">
                        <img class="img-fluid img-content img-4-3 lazy-img" style="width:100%" src="/Content/imgs/lazy_optimized.jpg" data-bind="attr: { 'ref-src':image16_9 }" />                       
                    </div>
                </div>
                <div style="width:60%; margin-left:5%;">
                    <p class="p-content">
                        <span data-bind="text: Title"></span>
                        <!--ko if: $data.IsVideoArticle() ==1 -->
                        <span><i class="fas fa-video" style="color:#a3161d"></i></span>
                        <!-- /ko -->
                    </p>
                    <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(PublishedDate()).fromNow()"></span> <span style="color:#a3161d" data-bind="text: CategoryName"></span></p>
                </div>
            </div>
            <hr class="hr-bottom-parent" />
        </div>
        <!-- /ko -->
        <div class="container" style="background-color:#1f2242; ">
            <!--ko if: $root.videoHomes().length >0 -->
            <div>
                <h3 style="color:white; padding:12px; padding-left:0px"><span> <img src="~/fonts/icon/icon2.png" height=30 width=30 /></span> Video</h3>
            </div>
            <!-- /ko -->
            <div style="width:100%" data-bind="foreach: videoHome">
                <div data-bind="click: $root.loadByVideoByID">
                    <div class="div-4-3">
                        <img src="~/fonts/icon/icon-video.png" class="icon-audio" style="z-index:2" height=50 width=50 />
                        <img class="img-fluid img-4-3 img-content img-4-3 lazy-img" style="width:100%" src="/Content/imgs/lazy_optimized.jpg" data-bind="attr: { 'ref-src':image16_9_large }" />
                       
                    </div>
                    <p style="color:white; font-size:24px; line-height: initial;text-align:left; padding-top:5px;">
                        <strong data-bind="text: Title"></strong>
                    </p>
                </div>
            </div>
            <hr style="border: 1px solid #161933" />
            <div class="d-flex flex-wrap justify-content-between" data-bind="foreach: videoHomes">
                <div style="width:48%; " data-bind="click: $root.loadByVideoByID">
                    <div class=" div-4-3">
                        <img src="~/fonts/icon/icon-video.png" style="z-index:2" class="icon-audio" height=50 width=50 />
                        <img class="img-fluid img-4-3 img-content img-4-3 lazy-img" style="width:100%" src="/Content/imgs/lazy_optimized.jpg" data-bind="attr: { 'ref-src':'https://image.vtc.vn/'+ ImageUrl() }" />
                    </div>
                    <p style="color:white; font-size:1.3em; padding-top:5px; text-align:left; line-height:initial" data-bind="text: Title"></p>
                </div>
            </div>
            <!--ko if: $root.videoHome().length >0 -->
            <div class="d-flex justify-content-center" style="padding-bottom:20px">
                <button class="button button-0 button-1" data-bind="click: $root.videoApp">Xem thêm</button>
            </div>
            <!-- /ko -->
        </div>
        <!--ko foreach: articleSuggestionHome1 -->
        <div class="container " style="margin-top:15px" data-bind="click: $root.clickDetailNew1">
            <div class="d-flex" style="width:100%">
                <div style="width:40%">
                    <div class="div-4-3">
                        <img class="img-fluid img-4-3 img-content img-4-3 lazy-img" style="width:100%" src="/Content/imgs/lazy_optimized.jpg" data-bind="attr: { 'ref-src':image16_9 }" />
                    </div>
                </div>
                <div style="width:60%; margin-left:5%;">
                    <p class="p-content">
                        <span data-bind="text: Title"></span>
                        <!--ko if: $data.IsVideoArticle() ==1 -->
                        <span><i class="fas fa-video" style="color:#a3161d"></i></span>
                        <!-- /ko -->
                    </p>
                    <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(PublishedDate()).fromNow()"></span> <span style="color:#a3161d" data-bind="text: CategoryName"></span></p>
                </div>
            </div>
            <hr class="hr-bottom-parent" />
        </div>
        <!-- /ko -->
        <!--ko if: $root.imgAudioBook().length >0 -->
        <div class="container" style="background-color:#fff7cc; ">
            <div style="padding-top:10px;padding-bottom:10px">
                <h3 style="color:#a3161d;">
                    <span><img src="~/fonts/icon/icon4.png" width=30 height=30 /></span> Audio
                </h3>
            </div>
            <div style="width:100%" data-bind="foreach: $root.imgAudioBook2">
                <div class="img" data-bind="click: $root.selectedData1">
                    @*<img src="~/fonts/icon/icon-audio.png" class="icon-audio" height=50 width=50 />*@
                    <img class="img-fluid img-content" style="width:100%; height:100%;" data-bind="attr: {  src: image360_360  }" />
                </div>
                <p style=" font-size:25px" data-bind="click: $root.selectedData1"><strong data-bind="text:Name"></strong></p>
                <div>
                    <button class="button button-01 button-2"><i class="demo-icon icon-book"></i> <span>Sách nói</span></button>
                </div>
            </div>
            <hr style="border: 1px solid #eee1ac" />
            <div class="d-flex" data-bind="foreach: $root.imgMusic">
                <div style="width:33.33%; margin-right:10px" data-bind="click: $root.selectedData1">
                    <div class="img">
                       @* <img src="~/fonts/icon/icon-audio.png" class="icon-audio" height=30 width=30 />*@
                        <img class="img-fluid img-content" data-bind="attr: {  src: image182_182  }" />
                    </div>
                </div>
                <div style="width:66.67%; ">
                    <h5 data-bind="click: $root.selectedData1"><strong data-bind="text:Name"></strong></h5>
                    <div data-bind="foreach: $root.audioMusic">
                        <button class="button button-01 button-2" data-bind="click: $root.audiobookDetails"><i class="demo-icon icon-book"></i> <span>Âm nhạc</span></button>
                    </div>
                </div>
            </div>
            <hr style="border: -0.4px  solid #eee1ac" />
            <div class="d-flex" data-bind="foreach: $root.imgAudioBook">
                <div style="width:33.33%; margin-right:10px" data-bind="click: $root.selectedData1">
                    <div class="img">
                       @* <img src="~/fonts/icon/icon-audio.png" class="icon-audio" height=30 width=30 />*@
                        <img class="img-fluid img-content" data-bind="attr: {  src: image182_182  }" />
                    </div>
                </div>
                <div style="width:66.67%; ">
                    <h5 data-bind="click: $root.selectedData1"><strong data-bind="text: Name"></strong></h5>
                    <div data-bind="foreach: $root.audiobook">
                        <button class="button button-01 button-3" data-bind="click: $root.audiobookDetails"><i class="demo-icon icon-music-2"></i> <span>Sách nói</span></button>
                    </div>
                </div>
            </div>
            <hr style="border: -0.4px  solid #eee1ac" />
            <div class="d-flex justify-content-center" style="padding-bottom:20px">
                <button class="button button-0 button-5" data-bind="click: $root.audioApp">Xem thêm</button>
            </div>
        </div>
        <!-- /ko -->
        <!--ko foreach: articleSuggestionHome2 -->
        <div class="container " style="margin-top:15px; " data-bind="click: $root.clickDetailNew1">
            <div class="d-flex" style="width:100%">
                <div style="width:40%">
                    <div class="div-4-3">
                        <img class="img-fluid img-4-3 img-content img-4-3 lazy-img" style="width:100%" src="/Content/imgs/lazy_optimized.jpg" data-bind="attr: { 'ref-src':image16_9 }" />
                    </div>
                </div>
                <div style="width:60%; margin-left:5%;">
                    <p class="p-content">
                        <span data-bind="text: Title"></span>
                        <!--ko if: $data.IsVideoArticle() ==1 -->
                        <span><i class="fas fa-video" style="color:#a3161d"></i></span>
                        <!-- /ko -->
                    </p>
                    <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(PublishedDate()).fromNow()"></span> <span style="color:#a3161d" data-bind="text: CategoryName"></span></p>
                </div>
            </div>
            <hr class="hr-bottom-parent" />
        </div>
        <!-- /ko -->
        <div class="bottom-home" style="height:40px;"></div>
    </div>
    <!-- /ko -->
</div>
<div id="selectedMenu" style="display:none">
    <div id="top-header" style="position:fixed;top: 0; width: 100%;z-index:1001">
        <div class="side-nav">
            <nav class="navbar navbar-light ">
                <div class="d-flex justify-content-between opacity-background" style="width:100%;">
                    <div data-bind="click: $root.backHomeMenu">
                        <a class="navbar-brand" href="#" style="padding-top:0px">
                            <span style="font-size:16px;cursor:pointer; color:white"><i class="demo-icon icon-left-4" style="color:white"></i></span>
                        </a>
                    </div>
                    <div>
                        <img src="https://vtc.vn/Content/mobile/images/logo.png" style="max-height:31px" />
                    </div>
                    <div>
                        <i class="demo-icon icon-search" style="color:white; font-size:18px; padding-top:6px;"></i>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div id="swiper-binding"></div>
</div>
<div id="newDetailMenu" style="display:none">
    <div>
        <div id="top-header" style="position:fixed;top: 0; width: 100%;z-index:1001">
            <div class="side-nav">
                <nav class="navbar navbar-light ">
                    <div class="d-flex justify-content-between opacity-background" style="width:100%;">
                        <div data-bind="click: $root.backSelectedMenu">
                            <a class="navbar-brand" href="#" style="padding-top:0px">
                                <span style="font-size:16px;cursor:pointer; color:white"><i class="demo-icon icon-left-4" style="color:white"></i></span>
                            </a>
                        </div>
                        <div>
                            <img src="https://vtc.vn/Content/mobile/images/logo.png" style="max-height:31px;max-width: 123px;" />
                        </div>
                        <div>
                            <i class="demo-icon icon-search" style="color:white; font-size:18px; padding-top:6px;"></i>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div data-bind="foreach: $root.detailData">
            <div style="width:100%; padding-top:50px;">
                <div class="container " style="margin-top:10px">
                    <p style="font-size:24px; line-height: initial;text-align:left;">
                        <strong data-bind="text: Title"></strong>
                    </p>
                    <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(PublishedDate).fromNow()"></span> <span style="color:#a3161d" data-bind="text: CategoryName"></span></p>
                </div>
            </div>
            <div class="detail-content" style="font-size:18px;" data-bind="html: Content">
            </div>
            <div class="hidden-div ">
                <div class="div-style-ratio-1-6 d-flex container" style="align-items: center">
                    <div>
                        <button type="button" class="share btn btn-primary btn-sm">Share</button>
                    </div>
                    <div class="d-flex justify-content-center" style="margin:10px;">
                        <button type="button" class="subYoutube btn btn-danger btn-sm"><i class="demo-icon icon-youtube-2"></i> Subscribe </button>
                    </div>
                </div>
            </div>
            <div class="hidden-div" style="margin-top:10px; margin-bottom:60px;">
                <div class="text-18px container">
                    <p>
                        Tags:
                        <span style="color:blue" data-bind="foreach: $root.tags()">
                            <span data-bind="text: TagName"></span>,
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class=" container " data-bind="with: $root.comment">
            <h4 style="font-weight:bold"><i class="demo-icon icon-comment-alt-1" style="color: #a3161d"></i> Bình luận <span style="color: #a3161d" data-bind="text: $data.TotalAllRecord"></span></h4>
            <div data-bind="foreach: $root.comnnetItems">
                <div>
                    <p><span style="opacity:0.5" data-bind="text: moment(CreatedDate()).fromNow()"></span></p>
                    <h6 style="font-weight:bold; color:black" data-bind="text: CustomerName"></h6>
                    <p data-bind="text:Content"></p>
                    <p style="color:blue"><span><i class="demo-icon icon-thumbs-up-5"></i><span data-bind="text: CountLike"></span> thích</span> <span><i class="demo-icon icon-forward-2"></i> trả lời</span></p>
                </div>

            </div>
            <!--ko if: $root.comment().length >0 -->
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-light" style="border-radius: 25px;border: 1px solid gray;">Xem thêm bình luận</button>
            </div>
            <!-- /ko -->
            <div class="form-commnet" style="margin-top:17px;">
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal" style="background-color: #a3161d; width:120px; margin-bottom:40px;" data-bind="click: $root.showModal">Bình luận</button>
            </div>
        </div>
        <!--ko if: $root.ListArticleRelated().length >0 -->
        <div class="container">
            <p style="font-size:24px; line-height: initial;text-align:left;"><strong>Thêm thông tin</strong></p>
        </div>
        <!-- /ko -->
        <!--ko foreach: ListArticleRelated -->
        <div class="container " style="margin-top:15px;" data-bind="click: $root.clickDetailNew2">
            <div class="d-flex" style="width:100%">
                <div style="width:40%">
                    <div class="div-4-3">
                        <img class="img-content img-4-3" data-bind="attr: {src: 'https://image.vtc.vn/'+ ImageUrl() }" />
                    </div>
                </div>
                <div style="width:60%; margin-left:5%;">
                    <p class="p-content">
                        <span data-bind="text: Title"></span>
                        <!--ko if: $data.IsVideoArticle() ==1 -->
                        <span><i class="fas fa-video" style="color:#a3161d"></i></span>
                        <!-- /ko -->
                    </p>
                    <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(PublishedDate()).fromNow()"></span> <span style="color:#a3161d" data-bind="text: CategoryName"></span></p>
                </div>
            </div>
            <hr class="hr-bottom-parent" />
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!--ko if: $root.categoryNameData().length >0 -->
        <div class="container">
            <p style="font-size:24px; line-height: initial;text-align:left;"><strong>Cùng chuyên mục</strong></p>
        </div>
        <!-- /ko -->
        <!--ko foreach: categoryNameData -->
        <div class="container " style="margin-top:15px;" data-bind="click: $root.clickDetailNew2">
            <div class="d-flex" style="width:100%">
                <div style="width:40%">
                    <div class="div-4-3">
                        <img class="img-content img-4-3" data-bind="attr: { src: 'https://image.vtc.vn/'+ ImageUrl()  }" />
                    </div>
                </div>
                <div style="width:60%; margin-left:5%;">
                    <p class="p-content">
                        <span data-bind="text: Title"></span>
                        <!--ko if: $data.IsVideoArticle() ==1 -->
                        <span><i class="fas fa-video" style="color:#a3161d"></i></span>
                        <!-- /ko -->
                    </p>
                    <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(PublishedDate()).fromNow()"></span> <span style="color:#a3161d" data-bind="text: CategoryName"></span></p>
                </div>
            </div>
            <hr class="hr-bottom-parent" />
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
</div>
<div id="newDetail" style="display:none">
    <div class="detail">
        <div id="top-header" style="position:fixed;top: 0; width: 100%;z-index:1001">
            <div class="side-nav">
                <nav class="navbar navbar-light ">
                    <div class="d-flex justify-content-between opacity-background" style="width:100%;">
                        <div data-bind="click: $root.backHomeMenu">
                            <a class="navbar-brand" href="#" style="padding-top:0px">
                                <span style="font-size:16px;cursor:pointer; color:white"><i class="demo-icon icon-left-4" style="color:white"></i></span>
                            </a>
                        </div>
                        <div>
                            <img src="https://vtc.vn/Content/mobile/images/logo.png" style="max-height:31px;max-width: 123px;" />
                        </div>
                        <div>
                            <i class="demo-icon icon-search" style="color:white; font-size:18px; padding-top:6px;"></i>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!--ko ifnot: $root.detailData().length >0 -->
        <div>
            <div class="card br" style="margin-top:100px;">
                <div class="wrapper">
                    <div class="comment br animate w80"></div>
                    <div class="comment br animate"></div>
                    <div class="comment br animate"></div>
                </div>
            </div>
            <div class="card br">
                <div class="wrapper">
                    <div class="comment br animate w80"></div>
                    <div class="comment br animate"></div>
                    <div class="comment br animate"></div>
                </div>
            </div>
            <div class="card br">
                <div class="wrapper">
                    <div class="comment br animate w80"></div>
                    <div class="comment br animate"></div>
                    <div class="comment br animate"></div>
                </div>
            </div>
            <div class="card br">
                <div class="wrapper">
                    <div class="comment br animate w80"></div>
                    <div class="comment br animate"></div>
                    <div class="comment br animate"></div>
                </div>
            </div>
            <div class="card br">
                <div class="wrapper">
                    <div class="comment br animate w80"></div>
                    <div class="comment br animate"></div>
                    <div class="comment br animate"></div>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!--ko if: $root.detailData().length >0-->
            <div data-bind="foreach: $root.detailData">
                <div style="width:100%; padding-top:50px;">
                    <div class="container " style="margin-top:10px">
                        <p style="font-size:24px; line-height: initial;text-align:left;">
                            <strong data-bind="text: Title"></strong>
                        </p>
                        <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(PublishedDate).fromNow()"></span> <span style="color:#a3161d" data-bind="text: CategoryName"></span></p>
                    </div>
                </div>
                <div class="detail-content" style="font-size:18px;" data-bind="html: Content">
                </div>
                <div class="hidden-div ">
                    <div class="div-style-ratio-1-6 d-flex container" style="align-items: center">
                        <div>
                            <button type="button" class="btn btn-primary btn-sm share">Share</button>
                        </div>
                        <div class="d-flex justify-content-center" style="margin:10px;">
                            <button type="button" class="btn btn-danger btn-sm subYoutube"><i class="demo-icon icon-youtube-2"></i> Subscribe </button>
                        </div>
                    </div>
                </div>
                <div class="hidden-div" style="margin-top:10px; margin-bottom:60px;">
                    <div class="text-18px container">
                        <p>
                            Tags:
                            <span style="color:blue" data-bind="foreach: $root.tags()">
                                <span data-bind="text: TagName"></span>,
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class=" container " data-bind="with: $root.comment">
                <h4 style="font-weight:bold"><i class="demo-icon icon-comment-alt-1" style="color: #a3161d"></i> Bình luận <span style="color: #a3161d" data-bind="text: $data.TotalAllRecord"></span></h4>
                <div data-bind="foreach: $root.comnnetItems">
                    <div>
                        <p><span style="opacity:0.5" data-bind="text: moment(CreatedDate()).fromNow()"></span></p>
                        <h6 style="font-weight:bold; color:black" data-bind="text: CustomerName"></h6>
                        <p data-bind="text:Content"></p>
                        <p style="color:blue"><span><i class="demo-icon icon-thumbs-up-5"></i><span data-bind="text: CountLike"></span> thích</span> <span><i class="demo-icon icon-forward-2"></i> trả lời</span></p>
                    </div>

                </div>
                <!--ko if: $root.comment().length >0 -->
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-light" style="border-radius: 25px;border: 1px solid gray;">Xem thêm bình luận</button>
                </div>
                <!-- /ko -->
                <div class="form-commnet" style="margin-top:17px;">
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal" style="background-color: #a3161d; width:120px; margin-bottom:40px;" data-bind="click: $root.showModal">Bình luận</button>
                </div>
            </div>
            <!--ko if: $root.ListArticleRelated().length >0 -->
            <div class="container">
                <p style="font-size:24px; line-height: initial;text-align:left;"><strong>Thêm thông tin</strong></p>
            </div>
            <!-- /ko -->
            <div style="margin-bottom:20px;">
                <!--ko foreach: ListArticleRelated -->
                <div class="container " style="margin-top:15px;" data-bind="click: $root.clickDetailNew1">
                    <div class="d-flex" style="width:100%">
                        <div style="width:40%">
                            <div class="div-4-3">
                                <img class="img-content img-4-3" data-bind="attr: {src: 'https://image.vtc.vn/'+ ImageUrl() }" />
                            </div>
                        </div>
                        <div style="width:60%; margin-left:5%;">
                            <p class="p-content">
                                <span data-bind="text: Title"></span>
                                <!--ko if: $data.IsVideoArticle() ==1 -->
                                <span><i class="fas fa-video" style="color:#a3161d"></i></span>
                                <!-- /ko -->
                            </p>
                            <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(PublishedDate()).fromNow()"></span> <span style="color:#a3161d" data-bind="text: CategoryName"></span></p>
                        </div>
                    </div>
                    <hr class="hr-bottom-parent" />
                    <!-- /ko -->
                </div>
                <!-- /ko -->
            </div>
            <!--ko if: $root.categoryNameData().length >0 -->
            <div class="container">
                <p style="font-size:24px; line-height: initial;text-align:left;"><strong>Cùng chuyên mục</strong></p>
            </div>
            <!-- /ko -->
            <div style="margin-bottom:20px;">
                <!--ko foreach: categoryNameData -->
                <div class="container " style="margin-top:15px;" data-bind="click: $root.clickDetailNew1">
                    <div class="d-flex" style="width:100%">
                        <div style="width:40%">
                            <div class="div-4-3">
                                <img class="img-content img-4-3" data-bind="attr: { src: 'https://image.vtc.vn/'+ ImageUrl()  }" />
                            </div>
                        </div>
                        <div style="width:60%; margin-left:5%;">
                            <p class="p-content">
                                <span data-bind="text: Title"></span>
                                <!--ko if: $data.IsVideoArticle() ==1 -->
                                <span><i class="fas fa-video" style="color:#a3161d"></i></span>
                                <!-- /ko -->
                            </p>
                            <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(PublishedDate()).fromNow()"></span> <span style="color:#a3161d" data-bind="text: CategoryName"></span></p>
                        </div>
                    </div>
                    <hr class="hr-bottom-parent" />
                    <!-- /ko -->
                </div>
                <!-- /ko -->
            </div>
        <!-- /ko -->
    </div>
</div>
<div id="loadListChannel" style="display:none">
    <div id="top-header" style="position:fixed;top: 0; width: 100%;z-index:1001">
        <div class="side-nav">
            <nav class="navbar navbar-light ">
                <div class="d-flex justify-content-between" style="width:100%;">
                    <div data-bind="click: $root.backHomeApp">
                        <a class="navbar-brand" href="#">
                            <span><i class="fas fa-arrow-left" style="width:30px;padding-top:5px; color:white"></i></span>
                        </a>
                    </div>
                    <div>
                        <img src="https://vtc.vn/Content/mobile/images/logo.png" style="max-height:31px" />
                    </div>
                    <div>
                        <i class="demo-icon icon-search" style="color:white; font-size:18px; padding-top:6px;"></i>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="listchannel">
        <div class="opacity-background load-hidden" style=" margin-bottom:100px; margin-top:60px;" data-bind="foreach: channels">
            <div style="width:100%" data-bind="click: $root.loadSelectedChannel">
                <div class="img">
                    <img class="img-fluid img-content " style="width:100%" @*src="/Content/imgs/lazy_optimized.jpg" *@data-bind="attr: { 'src':image16_9 }" />
                </div>
                <div class="container " style="margin-top:10px">
                    <p class="p-content"><strong data-bind="text:Title"></strong>  </p>
                    <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(CreatedDate()).fromNow()"></span> </p>
                </div>
                <hr class="hr-bottom" />
            </div>
        </div>
        <div id="loaddingMenu" class="hidden d-flex justify-content-center " style="margin-bottom:60px; align-items:center; ">
            <i class="icon-loadding demo-icon icon-spin5 animate-spin"></i>
        </div>
    </div>
</div>
<div id="newListChannelDetail" style="display:none">
    <div>
        <div id="top-header" style="position:fixed;top: 0; width: 100%;z-index:1001">
            <div class="side-nav">
                <nav class="navbar navbar-light ">
                    <div class="d-flex justify-content-between opacity-background" style="width:100%;">
                        <div data-bind="click: $root.backChannelDetail">
                            <a class="navbar-brand" href="#" style="padding-top:0px">
                                <span style="font-size:16px;cursor:pointer; color:white"><i class="demo-icon icon-left-4" style="color:white"></i></span>
                            </a>
                        </div>
                        <div>
                            <img src="https://vtc.vn/Content/mobile/images/logo.png" style="max-height:31px;max-width: 123px;" />
                        </div>
                        <div>
                            <i class="demo-icon icon-search" style="color:white; font-size:18px; padding-top:6px;"></i>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div data-bind="foreach: $root.detailData">
            <div style="width:100%; padding-top:50px;">
                <div class="container " style="margin-top:10px">
                    <p style="font-size:24px; line-height: initial;text-align:left;">
                        <strong data-bind="text: Title"></strong>
                    </p>
                    <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(PublishedDate).fromNow()"></span> <span style="color:#a3161d" data-bind="text: CategoryName"></span></p>
                </div>
            </div>
            <div class="detail-content" style="font-size:18px;" data-bind="html: Content">
            </div>
            <div class="hidden-div ">
                <div class="div-style-ratio-1-6 d-flex container" style="align-items: center">
                    <div>
                        <button type="button" class="btn btn-primary btn-sm share">Share</button>
                    </div>
                    <div class="d-flex justify-content-center" style="margin:10px;">
                        <button type="button" class="btn btn-danger btn-sm subYoutube"><i class="demo-icon icon-youtube-2"></i> Subscribe </button>
                    </div>
                </div>
            </div>
            <div class="hidden-div" style="margin-top:10px; margin-bottom:60px;">
                <div class="text-18px container">
                    <p>
                        Tags:
                        <span style="color:blue" data-bind="foreach: $root.tags()">
                            <span data-bind="text: TagName"></span>,
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class=" container " data-bind="with: $root.comment">
            <h4 style="font-weight:bold"><i class="demo-icon icon-comment-alt-1" style="color: #a3161d"></i> Bình luận <span style="color: #a3161d" data-bind="text: $data.TotalAllRecord"></span></h4>
            <div data-bind="foreach: $root.comnnetItems">
                <div style="width:100%">
                    <p><span style="opacity:0.5" data-bind="text: moment(CreatedDate()).fromNow()"></span></p>
                    <h6 style="font-weight:bold; color:black" data-bind="text: CustomerName"></h6>
                    <p data-bind="text:Content"></p>
                    <p style="color:blue"><span><i class="demo-icon icon-thumbs-up-5"></i><span data-bind="text: CountLike"></span> thích</span> <span><i class="demo-icon icon-forward-2"></i> trả lời</span></p>
                </div>

            </div>
            <!--ko if: $root.comment().length >0 -->
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-light" style="border-radius: 25px;border: 1px solid gray;">Xem thêm bình luận</button>
            </div>
            <!-- /ko -->
            <div class="form-commnet" style="margin-top:17px;">
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal" style="background-color: #a3161d; width:120px; margin-bottom:40px;" data-bind="click: $root.showModal">Bình luận</button>
            </div>
        </div>
        <!--ko if: $root.ListArticleRelated().length >0 -->
        <div class="container">
            <p style="font-size:24px; line-height: initial;text-align:left;"><strong>Thêm thông tin</strong></p>
        </div>
        <!-- /ko -->
        <!--ko foreach: ListArticleRelated -->
        <div class="container " style="margin-top:15px;" data-bind="click: $root.itemChannelDetail">
            <div class="d-flex" style="width:100%">
                <div style="width:40%">
                    <div class="div-4-3">
                        <img class="img-fluid img-4-3 img-content  lazy-img" style="width:100%" src="/Content/imgs/lazy_optimized.jpg" data-bind="attr: { 'ref-src': 'https://image.vtc.vn/'+ ImageUrl()  }" />
                   
                    </div>
                </div>
                <div style="width:60%; margin-left:5%;">
                    <p class="p-content">
                        <span data-bind="text: Title"></span>
                        <!--ko if: $data.IsVideoArticle() ==1 -->
                        <span><i class="fas fa-video" style="color:#a3161d"></i></span>
                        <!-- /ko -->
                    </p>
                    <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(PublishedDate()).fromNow()"></span> <span style="color:#a3161d" data-bind="text: CategoryName"></span></p>
                </div>
            </div>
            <hr class="hr-bottom-parent" />
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!--ko if: $root.categoryNameData().length >0 -->
        <div class="container">
            <p style="font-size:24px; line-height: initial;text-align:left;"><strong>Cùng chuyên mục</strong></p>
        </div>
        <!-- /ko -->
        <!--ko foreach: categoryNameData -->
        <div class="container " style="margin-top:15px;" data-bind="click: $root.itemChannelDetail">
            <div class="d-flex" style="width:100%">
                <div style="width:40%">
                    <div class="div-4-3">
                        <img class="img-fluid img-4-3 img-content  lazy-img" style="width:100%" src="/Content/imgs/lazy_optimized.jpg" data-bind="attr: { 'ref-src': 'https://image.vtc.vn/'+ ImageUrl()  }" />
                     
                    </div>
                </div>
                <div style="width:60%; margin-left:5%;">
                    <p class="p-content">
                        <span data-bind="text: Title"></span>
                        <!--ko if: $data.IsVideoArticle() ==1 -->
                        <span><i class="fas fa-video" style="color:#a3161d"></i></span>
                        <!-- /ko -->
                    </p>
                    <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(PublishedDate()).fromNow()"></span> <span style="color:#a3161d" data-bind="text: CategoryName"></span></p>
                </div>
            </div>
            <hr class="hr-bottom-parent" />
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
</div>
<div id="loadSelectedChannel" style="display:none">
    <div id="top-header" style="position:fixed;top: 0; width: 100%;z-index:1001">
        <div class="side-nav">
            <nav class="navbar navbar-light ">
                <div class="d-flex justify-content-between" style="width:100%;">
                    <div data-bind="click: $root.backLoadListChannel">
                        <a class="navbar-brand" href="#">
                            <span><i class="fas fa-arrow-left" style="width:30px;padding-top:5px; color:white"></i></span>
                        </a>
                    </div>
                    <div>
                        <img src="https://vtc.vn/Content/mobile/images/logo.png" style="max-height:31px" />
                    </div>
                    <div>
                        <i class="demo-icon icon-search" style="color:white; font-size:18px; padding-top:6px;"></i>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="calloadSelectedChannel">
        <!--ko if: $root.slectedChannels().length >0 -->
        <div class="container hidden-detail" style="margin-top: 70px; " data-bind="foreach: $root.slectedChannels">
            <div class="d-flex" style="width:100%" data-bind="click: $root.itemChannelDetail">
                <div style="width:40%">
                    <div>
                        <img class="img-fluid img-content lazy-img" style="width:100%" src="/Content/imgs/lazy_optimized.jpg" data-bind="attr: { 'ref-src':image16_9 }" />
                    </div>
                </div>
                <div style="width:60%; margin-left:5%">
                    <p class="p-content" data-bind="text: Title"></p>
                    <span data-bind="if: IsVideoArticle  == 1"><i class="fas fa-video" style="color:#a3161d"></i></span>
                    <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(PublishedDate()).fromNow()"></span> <span style="color:#a3161d" data-bind="text: CategoryName"></span></p>
                </div>
            </div>
            <hr class="hr-bottom-parent" />
        </div>
        
        <!-- /ko -->
        <!--ko ifnot: $root.slectedChannels().length >0 -->
        <div id="loadding-selected" class="hidden d-flex justify-content-center " style="margin-top:60px; align-items:center; ">
            <h6 style="opacity:0.5">Không có dữ liệu</h6>
        </div>
        <!-- /ko -->
    </div>
</div>
<div id="Trend" style="display:none">
    <div id="top-header" style="position:fixed;top: 0; width: 100%;z-index:1001">
        <div class="side-nav">
            <nav class="navbar navbar-light ">
                <div id="input-sidebar1">
                </div>
                <div class="d-flex justify-content-between opacity-background" style="width:100%;">
                    <div>
                        <a class="navbar-brand " href="#" style="padding-top:0px" data-toggle="modal" data-target="#myModal">
                            <i class="demo-icon icon-menu" style="color:white"></i>
                        </a>
                    </div>
                    <div>
                        <img src="https://vtc.vn/Content/mobile/images/logo.png" style="max-height:31px" />
                    </div>
                    <div>
                        <i class="demo-icon icon-search" style="color:white; font-size:18px; padding-top:6px;"></i>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="trend">
        <div class="container hidden-detail" style="margin-top: 70px; " data-bind="foreach: trends">
            <div class="d-flex" style="width:100%" data-bind="click: $root.clickDetailNew3">
                <div style="width:40%">
                    <div>                       
                        <img class=" img-fluid img-content lazy-img" src ="/Content/imgs/lazy_optimized.jpg" data-bind="attr: { 'ref-src':image16_9 }" />
                    </div>
                </div>
                <div style="width:60%; margin-left:5%">
                    <p class="p-content" data-bind="text: Title"></p>
                    <span data-bind="if: IsVideoArticle  == 1"><i class="fas fa-video" style="color:#a3161d"></i></span>
                    <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(PublishedDate()).fromNow()"></span> <span style="color:#a3161d" data-bind="text: CategoryName"></span></p>
                </div>
            </div>
            <hr class="hr-bottom-parent" />
        </div>
        <div class="load-more d-flex justify-content-center " style="margin-bottom:60px; align-items:center; ">
            <i class="icon-loadding demo-icon icon-spin5 animate-spin"></i>
        </div>
    </div>
</div>
<div id="newDetailTrend" style="display:none">
    <div class="detail">
        <div id="top-header" style="position:fixed;top: 0; width: 100%;z-index:1001">
            <div class="side-nav">
                <nav class="navbar navbar-light ">
                    <div class="d-flex justify-content-between opacity-background" style="width:100%;">
                        <div data-bind="click: $root.backTrend">
                            <a class="navbar-brand" href="#" style="padding-top:0px">
                                <span style="font-size:16px;cursor:pointer; color:white"><i class="demo-icon icon-left-4" style="color:white"></i></span>
                            </a>
                        </div>
                        <div>
                            <img src="https://vtc.vn/Content/mobile/images/logo.png" style="max-height:31px;max-width: 123px;" />
                        </div>
                        <div>
                            <i class="demo-icon icon-search" style="color:white; font-size:18px; padding-top:6px;"></i>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div data-bind="foreach: $root.detailData">
            <div style="width:100%; padding-top:50px;">
                <div class="container " style="margin-top:10px">
                    <p style="font-size:24px; line-height: initial;text-align:left;">
                        <strong data-bind="text: Title"></strong>
                    </p>
                    <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(PublishedDate).fromNow()"></span> <span style="color:#a3161d" data-bind="text: CategoryName"></span></p>
                </div>
            </div>
            <div class="detail-content" style="font-size:18px;" data-bind="html: Content">
            </div>
            <div class="hidden-div ">
                <div class="div-style-ratio-1-6 d-flex container" style="align-items: center">
                    <div>
                        <button type="button" class="share btn btn-primary btn-sm">Share</button>
                    </div>
                    <div class="d-flex justify-content-center" style="margin:10px;">
                        <button type="button" class="subYoutube btn btn-danger btn-sm"><i class="demo-icon icon-youtube-2"></i> Subscribe </button>
                    </div>
                </div>
            </div>
            <div class="hidden-div" style="margin-top:10px; margin-bottom:60px;">
                <div class="text-18px container">
                    <p>
                        Tags:
                        <span style="color:blue" data-bind="foreach: $root.tags()">
                            <span data-bind="text: TagName"></span>,
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class=" container " data-bind="with: $root.comment">
            <h4 style="font-weight:bold"><i class="demo-icon icon-comment-alt-1" style="color: #a3161d"></i> Bình luận <span style="color: #a3161d" data-bind="text: $data.TotalAllRecord"></span></h4>
            <div data-bind="foreach: $root.comnnetItems">
                <div>
                    <p><span style="opacity:0.5" data-bind="text: moment(CreatedDate()).fromNow()"></span></p>
                    <h6 style="font-weight:bold; color:black" data-bind="text: CustomerName"></h6>
                    <p data-bind="text:Content"></p>
                    <p style="color:blue"><span><i class="demo-icon icon-thumbs-up-5"></i><span data-bind="text: CountLike"></span> thích</span> <span><i class="demo-icon icon-forward-2"></i> trả lời</span></p>
                </div>

            </div>
            <!--ko if: $root.comment().length >0 -->
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-light" style="border-radius: 25px;border: 1px solid gray;">Xem thêm bình luận</button>
            </div>
            <!-- /ko -->
            <div class="form-commnet" style="margin-top:17px;">
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal" style="background-color: #a3161d; width:120px; margin-bottom:40px;" data-bind="click: $root.showModal">Bình luận</button>
            </div>
        </div>
        <!--ko if: $root.ListArticleRelated().length >0 -->
        <div class="container">
            <p style="font-size:24px; line-height: initial;text-align:left;"><strong>Thêm thông tin</strong></p>
        </div>
        <!-- /ko -->
        <!--ko foreach: ListArticleRelated -->
        <div class="container " style="margin-top:15px;" data-bind="click: $root.clickDetailNew3">
            <div class="d-flex" style="width:100%">
                <div style="width:40%">
                    <div class="div-4-3">
                        <img class="img-content img-4-3" data-bind="attr: {src: 'https://image.vtc.vn/'+ ImageUrl() }" />
                    </div>
                </div>
                <div style="width:60%; margin-left:5%;">
                    <p class="p-content">
                        <span data-bind="text: Title"></span>
                        <!--ko if: $data.IsVideoArticle() ==1 -->
                        <span><i class="fas fa-video" style="color:#a3161d"></i></span>
                        <!-- /ko -->
                    </p>
                    <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(PublishedDate()).fromNow()"></span> <span style="color:#a3161d" data-bind="text: CategoryName"></span></p>
                </div>
            </div>
            <hr class="hr-bottom-parent" />
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!--ko if: $root.categoryNameData().length >0 -->
        <div class="container">
            <p style="font-size:24px; line-height: initial;text-align:left;"><strong>Cùng chuyên mục</strong></p>
        </div>
        <!-- /ko -->
        <!--ko foreach: categoryNameData -->
        <div class="container " style="margin-top:15px;" data-bind="click: $root.clickDetailNew3">
            <div class="d-flex" style="width:100%">
                <div style="width:40%">
                    <div class="div-4-3">
                        <img class="img-content img-4-3" data-bind="attr: {src: 'https://image.vtc.vn/'+ ImageUrl() }" />
                    </div>
                </div>
                <div style="width:60%; margin-left:5%;">
                    <p class="p-content">
                        <span data-bind="text: Title"></span>
                        <!--ko if: $data.IsVideoArticle() ==1 -->
                        <span><i class="fas fa-video" style="color:#a3161d"></i></span>
                        <!-- /ko -->
                    </p>
                    <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(PublishedDate()).fromNow()"></span> <span style="color:#a3161d" data-bind="text: CategoryName"></span></p>
                </div>
            </div>
            <hr class="hr-bottom-parent" />
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
</div>
<div id="Video" style="display:none">
    <div id="top-header" style="position:fixed;top: 0; width: 100%;z-index:1001">
        <div class="side-nav">
            <nav class="navbar navbar-light ">
                <div id="input-sidebar2">

                </div>
                <div class="d-flex justify-content-between opacity-background" style="width:100%;">
                    <div>
                        <a class="navbar-brand " href="#" style="padding-top:0px" data-toggle="modal" data-target="#myModal">
                            <i class="demo-icon icon-menu" style="color:white"></i>
                        </a>
                    </div>
                    <div>
                        <img src="https://vtc.vn/Content/mobile/images/logo.png" style="max-height:31px" />
                    </div>
                    <div>
                        <i class="demo-icon icon-search" style="color:white; font-size:18px; padding-top:6px;"></i>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="opacity-background load-hidden" style=" margin-bottom:100px; margin-top:56px;" data-bind="foreach: videoHomess">
        <div style="width:100%" data-bind="click: $root.loadByVideoByID">
            <div class="div-4-3">
                <img src="~/fonts/icon/icon-video.png" class="icon-audio" height=50 width=50 />      
                <img class="img-4-3 img-content lazy-img" style="width:100%" src ="/Content/imgs/lazy_optimized.jpg" data-bind="attr: {'ref-src': image16_9_large }" />
            </div>
            <div class="container " style="margin-top:10px">
                <p class="p-content"><strong data-bind="text:Title"></strong>  </p>
                <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(PublishedDate()).fromNow()"></span> <span style="color:#a3161d" data-bind="text: CategoryName"></span></p>
                <hr class="hr-bottom" />
            </div>
        </div>
    </div>
</div>
<div id="Audio" style="display:none">
    <div id="top-header" style="position:fixed;top: 0; width: 100%;z-index:1001">
        <div class="side-nav">
            <nav class="navbar navbar-light ">
                <div id="input-sidebar3">
                </div>
                <div class="d-flex justify-content-between opacity-background" style="width:100%;">
                    <div>
                        <a class="navbar-brand " href="#" style="padding-top:0px" data-toggle="modal" data-target="#myModal">
                            <i class="demo-icon icon-menu" style="color:white"></i>
                        </a>
                    </div>
                    <div>
                        <img src="https://vtc.vn/Content/mobile/images/logo.png" style="max-height:31px" />
                    </div>
                    <div>
                        <i class="demo-icon icon-search" style="color:white; font-size:18px; padding-top:6px;"></i>
                    </div>
                </div>
            </nav>
        </div>
        <div style="margin-top: -10px;" class="opacity-background">
            <div class="scrollmenu">
                <a href="#">
                    Audio
                </a>

            </div>
        </div>
    </div>
    <div>
        <!--ko foreach: $root.podcast -->
        <div style="background-color:#fff9cc; margin-top:80px; " class="opacity-background ">
            <div style="margin: 2%">
                <div data-bind="click: $root.audiobookDetails">
                    <h3 style="color:black; padding:12px; padding-left:0px"><i class="demo-icon icon-podcast"></i> <span>Podcast</span> </h3>
                </div>
                <!--ko foreach: $root.podcastHome -->
                <div class="audio-podcast" data-bind="click: $root.selectedData1" style="width:100%;background-color:white">
                    <div class="div-1-1 img-text-bottom-left">
                        @* <img src="/fonts/icon/icon-audio.png" class="icon-audio" height="50" width="50">*@
                        <img class="img-1-1 img-fluid img-content" style="width:100%" data-bind="attr: {'src': $data.image360_360}" />
                    </div>
                    <div class="container" style="background-color:white; padding-top:12px; padding-bottom:12px;border-radius: 5px;">
                        <p style="color:black; font-size:20px;"><strong data-bind="text: $data.Name"></strong></p>
                    </div>
                </div>
                <!-- /ko -->
                <div class="d-flex flex-wrap justify-content-between" style="margin-top:10px;border-radius:3px;">
                    <!--ko foreach: $root.podcastHomes -->
                    <div style="width:49%; background-color:white; margin-bottom:10px; border-radius:3px;" data-bind="click: $root.selectedData1">
                        <div class="div-1-1 img-text-bottom-left">
                            @*<img src="/fonts/icon/icon-audio.png" class="icon-audio " height="50" width="50">*@
                            <img class="img-1-1 img-fluid lazy-img" @*src="/Content/imgs/lazy_optimized.jpg" *@="width:100%; height:100% ;border-top:3px" data-bind="attr: {'src': $data.image182_182}" />
                        </div>
                        <div class="container" style="background-color:white; padding-top:5px; height:62px; border-radius:3px;">
                            <p class="text" style="color:black; font-size:17px; "><strong data-bind="text:Name"></strong></p>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
                <div class="d-flex justify-content-center" style="padding-bottom:20px; padding-top:20px;">
                    <button class="button button-0 button-6" data-bind="click: $root.audiobookDetails">Xem thêm</button>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!--ko foreach: $root.audiobook -->
        <div style="background-color:#fe6f61; margin-top:-10px" class="opacity-background">
            <div style="margin:0 2%">
                <div>
                    <h3 style="color:white; padding:12px; padding-left:0px" data-bind="click: $root.audiobookDetails"><i class="demo-icon icon-book"></i> <span class="name-selected">Sách nói</span> </h3>
                    <input type="text" id="audiobook" hidden data-bind="attr: {  value: Id  }" />
                </div>
                <div class="audio-podcast" style="width:100%;background-color:white">
                    <!--ko foreach: $root.home -->
                    <div data-bind="click: $root.selectedData1">
                        <div class="div-1-1 img-text-bottom-left" style="border-radius:3px; ">
                            @* <img src="/fonts/icon/icon-audio.png" class="icon-audio " height="50" width="50">*@
                            <img class="img-1-1 img-fluid lazy-img" @* src="/Content/imgs/lazy_optimized.jpg" *@="width:100%; height:100% ;border-top:3px" data-bind="attr: {'src': $data.image360_360}" />
                        </div>
                        <div class="container" style="background-color:white; padding-top:12px; padding-bottom:12px;border-radius:3px;">
                            <p class="text" style="color:black; font-size:20px;"><strong data-bind="text: $data.Name"></strong></p>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
                <div class="d-flex flex-wrap justify-content-between" style="margin-top:10px;border-radius:3px;">
                    <!--ko foreach: $root.homes -->
                    <div style="width:49%; background-color:white; margin-bottom:10px; border-radius:3px;" data-bind="click: $root.selectedData1">
                        <div class="div-1-1 img-text-bottom-left">
                            @*<img src="/fonts/icon/icon-audio.png" class="icon-audio " height="50" width="50">*@
                            <img class="img-1-1 img-fluid lazy-img" @*src="/Content/imgs/lazy_optimized.jpg" *@="width:100%; height:100% ;border-top:3px" data-bind="attr: {'src': $data.image182_182}" />

                        </div>
                        <div class="container" style="background-color:white; padding-top:5px; height:62px; border-radius:3px;">
                            <p class="text" style="color:black; font-size:17px; "><strong data-bind="text:Name"></strong></p>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
                <div class="d-flex justify-content-center" style="padding-bottom:20px; padding-top:20px;">
                    <button class="button button-0 button-7" data-bind="click: $root.audiobookDetails">Xem thêm</button>
                </div>
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->
        <!--ko foreach: $root.audioMusic -->
        <div style="background-color:#50b6ba; margin-bottom:50px;" class="opacity-background">
            <div style="margin: 0 2%">
                <div>
                    <h3 style="color:white; padding:12px; padding-left:0px" data-bind="click: $root.audiobookDetails"><i class="demo-icon icon-music-2"></i> <span class="name-selected">Âm nhạc</span> </h3>
                </div>
                <div class="audio-podcast" style="width:100%;background-color:white ">
                    <!--ko foreach: $root.music -->
                    <div data-bind="click: $root.selectedData1">
                        <div class="div-1-1 img-text-bottom-left" style="border-radius: 3px;">
                            @*  <img src="/fonts/icon/icon-audio.png" class="icon-audio " height="50" width="50">*@
                            <img class="img-1-1 img-fluid lazy-img " @*src="/Content/imgs/lazy_optimized.jpg" *@ style="width:100%; height:100% ;border-top:3px" data-bind="attr: {'src': $data.image360_360}" />
                        </div>
                        <div class="container" style="background-color:white; padding-top:12px; padding-bottom:12px;border-radius:3px;">
                            <p class="text" style="color:black; font-size:20px;"><strong data-bind="text: $data.Name"></strong></p>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
                <div class="d-flex flex-wrap justify-content-between" style="margin-top:10px;">
                    <!--ko foreach: $root.musics -->
                    <div style="width:49%; background-color:white; margin-bottom:10px; border-radius:3px;" data-bind="click: $root.selectedData1">
                        <div class="div-1-1 img-text-bottom-left">
                            @*  <img src="/fonts/icon/icon-audio.png" class="icon-audio " height="50" width="50">*@
                            <img class="img-1-1 img-fluid lazy-img" @*src="/Content/imgs/lazy_optimized.jpg"*@ style="width:100%; height:100% ;border-top:3px" data-bind="attr: {'src': $data.image182_182}" />
                        </div>
                        <div class="container" style="background-color:white; padding-top:5px; height:62px;border-radius:3px;">
                            <p class="text" style="color:black; font-size:17px; "><strong data-bind="text:Name"></strong></p>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
                <div class="d-flex justify-content-center" style="padding-bottom:20px; padding-top:20px;">
                    <button class="button button-0 button-8" data-bind="click: $root.audiobookDetails">Xem thêm</button>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>
<div id="audiobookDetailHome" style="display:none">
    <div id="top-header" style="position:fixed;top: 0; width: 100%;z-index:1001">
        <div class="side-nav">
            <nav class="navbar navbar-light ">
                <div class="d-flex justify-content-between" style="width:100%;">
                    <div data-bind="click: $root.backAudiobookHome">
                        <a class="navbar-brand" href="#">
                            <span><i class="fas fa-arrow-left" style="width:30px;padding-top:5px; color:white"></i></span>
                        </a>
                    </div>
                    <div>
                        <img src="https://vtc.vn/Content/mobile/images/logo.png" style="max-height:31px" />
                    </div>
                    <div>
                        <i class="demo-icon icon-search" style="color:white; font-size:18px; padding-top:6px;"></i>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="hidden-detail" style="margin-top:56px;background-color:#1f2342;" data-bind="with: $root.audiobookSeleced">
        <div>
            <div>
                <div class="d-flex  container" width:100%">
                    <div style="width:70%; margin-top:15px;">
                        <div class="img img-text-bottom-left">
                            <img class="img-fluid img-content" style="height:220px;border-radius:17px;" data-bind="attr: {src: $data.Info.image360_360}" />
                        </div>
                    </div>
                </div>
                <div style="color:white;" class="container">
                    <h3 style="font-weight:bold; padding-top:10px" data-bind="text: $data.Info.Name"> </h3>
                    <!--ko if: $data.Info.Author.length>0 -->
                    <p>Tác giả: <span data-bind="text: $data.Info.Author"></span></p>
                    <!-- /ko -->
                    <p class="text-content-detail" data-bind="text: $data.Info.Des">
                    </p>
                </div>
            </div>
            <div class="container" style="padding-top: 10px;">
                <div class="container" style="border-radius: 7px;background-color: #fff7cc;">
                    <div class="d-flex justify-content-center ">
                        <div>
                            <h3 style="font-weight:bold; ">Danh sách chương </h3>
                        </div>
                    </div>
                    <div class="slim-scroll">
                        <div data-bind="foreach: $root.Items">
                            <div class="d-flex justify-content-between" data-bind="click: $root.selectedItem">
                                <div style="width:20%;" class="align-self-center">
                                    <img style=" border-radius: 7px; height:55px;" class="img-fluid" data-bind="attr: {src: image182_182}" />
                                </div>
                                <div style="width:70%; align-items:center;display:flex">
                                    <p style="font-weight: bold;font-size:17px; padding-top:15px"><span data-bind="text:Name"></span></p>
                                </div>
                                <div style="width:10%" class="align-self-center">
                                    <img class="img-fluid" src="~/fonts/icon/icon-share.png" />
                                </div>
                            </div>
                            <hr style="border: 1px solid #cab960; opacity:0.5" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top:10px;" id="detail-catagory">
            <h3 style="color:white">Cùng thể loại</h3>
            <div class="d-flex flex-wrap justify-content-between" style="margin-top:10px;">
                <!--ko foreach: $root.audiobooks -->
                <div style="width:49%; background-color:white; margin-bottom:10px; border-radius:3px;" data-bind="click: $root.selectedData">
                    <div class=" img-text-bottom-left">
                       @* <img src="/fonts/icon/icon-audio.png" class="icon-audio " height="50" width="50">*@
                        <img class="img-fluid  " style="width:100%; height:100%;border-top:3px " data-bind="attr: {src: image182_182}" />
                    </div>
                    <div class="container" style="background-color:white; padding-top:5px; height:62px;border-radius:3px;">
                        <p class="text" style="color:black; font-size:17px; "><strong data-bind="text:Name"></strong></p>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
<div id="audiobookDetail" style="display:none">
    <div id="top-header" style="position:fixed;top: 0; width: 100%;z-index:1001">
        <div class="side-nav">
            <nav class="navbar navbar-light ">
                <div class="d-flex justify-content-between" style="width:100%;">
                    <div data-bind="click: $root.backAudio">
                        <a class="navbar-brand" href="#">
                            <span><i class="fas fa-arrow-left" style="width:30px;padding-top:5px; color:white"></i></span>
                        </a>
                    </div>
                    <div>
                        <img src="https://vtc.vn/Content/mobile/images/logo.png" style="max-height:31px;max-width: 123px;" />
                    </div>
                    <div>
                        <i class="demo-icon icon-search" style="color:white; font-size:18px; padding-top:6px;"></i>
                    </div>
                </div>
            </nav>
        </div>
        <div style="margin-top: -10px;">
            <div class="scrollmenu">
                <!--ko foreach: $root.menuAuBook -->
                <a href="#" class="menuAudio clicked-menu" data-bind="click: $root.loadMenuAudiobook, attr: {id: 'podcast_' + $index() }"><span data-bind="text: Name"></span></a>
                <!-- /ko -->
            </div>
        </div>
    </div>
    <div style="  margin-top:88px " class="detail-audio">
        <div style="margin:0 2%">
            <div data-bind="with: $root.selectedName">
                <h3 style="color:white; padding:12px; padding-left:0px"><i class="demo-icon icon-book"></i> <span class="name-selected" data-bind="text: $data.Name"></span></h3>
            </div>
            <div class="audio-podcast" style="width:100%;background-color:white ;">
                <!--ko foreach: $root.audiobook-->
                <div data-bind="click: $root.selectedData" style="border-radius: 3px;">
                    <div class="img img-text-bottom-left">
                        @*<img src="/fonts/icon/icon-audio.png" class="icon-audio " height="50" width="50">*@
                        <img class="img-fluid  " style="width:100%; height:100% ;border-top:3px" data-bind="attr: {src: $data.image360_360}" />
                    </div>
                    <div class="container" style="background-color:white; padding-top:12px; padding-bottom:12px;border-radius:3px;">
                        <p class="text" style="color:black; font-size:20px;"><strong data-bind="text: $data.Name"></strong></p>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <div class="d-flex flex-wrap justify-content-between" style="margin-top:10px;">
                <!--ko foreach: $root.audiobooks -->
                <div style="width:49%; background-color:white; margin-bottom:10px; border-radius:3px;" data-bind="click: $root.selectedData">
                    <div class="img img-text-bottom-left">
                        @*<img src="/fonts/icon/icon-audio.png" class="icon-audio " height="50" width="50">*@
                        <img class="img-fluid  " style="width:100%; height:100%;border-top:3px " data-bind="attr: {src: image182_182}" />
                    </div>
                    <div class="container" style="background-color:white; padding-top:5px; height:62px;border-radius:3px;">
                        <p class="text" style="color:black; font-size:17px; "><strong data-bind="text:Name"></strong></p>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
<div id="selectedAudiobookDetail" style="display:none">
    <div id="top-header" style="position:fixed;top: 0; width: 100%;z-index:1001">
        <div class="side-nav">
            <nav class="navbar navbar-light ">
                <div class="d-flex justify-content-between" style="width:100%;">
                    <div data-bind="click: $root.backAudiobookDetail">
                        <a class="navbar-brand" href="#">
                            <span><i class="fas fa-arrow-left" style="width:30px;padding-top:5px; color:white"></i></span>
                        </a>
                    </div>
                    <div>
                        <img src="https://vtc.vn/Content/mobile/images/logo.png" style="max-height:31px;max-width: 123px;" />
                    </div>
                    <div>
                        <i class="demo-icon icon-search" style="color:white; font-size:18px; padding-top:6px;"></i>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="hidden-detail" style="margin-top:56px;background-color:#1f2342;" data-bind="with: $root.audiobookSeleced">
        <div>
            <div>
                <div class="d-flex  container" width:100%">
                    <div style="width:70%; margin-top:15px;">
                        <div class="img img-text-bottom-left">
                            <img class="img-fluid img-content" style="height:220px;border-radius:17px;" data-bind="attr: {src: $data.Info.image360_360}" />
                        </div>
                    </div>

                </div>
                <div style="color:white;" class="container">
                    <h3 style="font-weight:bold; padding-top:10px" data-bind="text: $data.Info.Name"> </h3>
                    <!--ko if: $data.Info.Author.length>0 -->
                    <p>Tác giả: <span data-bind="text: $data.Info.Author"></span></p>
                    <!-- /ko -->
                    <p class="text-content-detail" data-bind="text: $data.Info.Des">
                    </p>
                </div>
            </div>
            <div class="container" style="padding-top: 10px;">
                <div class="container" style="border-radius: 7px;background-color: #fff7cc;">
                    <div class="d-flex justify-content-center ">
                        <div>
                            <h3 style="font-weight:bold; ">Danh sách chương </h3>
                        </div>
                    </div>
                    <div class="slim-scroll">
                        <div data-bind="foreach: $root.Items">
                            <div class="d-flex justify-content-between" data-bind="click: $root.selectedItem">
                                <div style="width:20%;">
                                    <img style=" border-radius: 7px; height:55px;" class="img-fluid" data-bind="attr: {src: image182_182}" />
                                </div>
                                <div style="width:60%">
                                    <h6 style="font-weight: bold;"><span data-bind="text:Name"></span></h6>
                                </div>
                                <div style="width:10%">
                                    <img class="img-fluid" src="~/fonts/icon/icon-share.png" />
                                </div>
                            </div>
                            <hr style="border: 1px solid #cab960; opacity:0.5" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container" style="margin-top:10px;" id="detail-catagory">
            <h3 style="color:white">Cùng thể loại</h3>
            <div class="d-flex flex-wrap justify-content-between" style="margin-top:10px;">
                <!--ko foreach: $root.audiobooks -->
                <div style="width:49%; background-color:white; margin-bottom:10px; border-radius:3px;" data-bind="click: $root.selectedData">
                    <div class="img img-text-bottom-left">
                        @*<img src="/fonts/icon/icon-audio.png" class="icon-audio " height="50" width="50">*@
                        <img class="img-fluid  img-content" style="width:100%; height:100%;border-top:3px " data-bind="attr: {src: image182_182}" />

                    </div>
                    <div class="container" style="background-color:white; padding-top:5px; height:62px;">
                        <p class="text" style="color:black; font-size:17px; "><strong data-bind="text:Name"></strong></p>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
<div class="container demo">
    <div class="modal left fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex d-flex justify-content-between container" style="width:100%; margin-left:5px;margin-top:10px;margin-bottom:10px ">
                        <div><img src="https://vtc.vn/Content/mobile/images/logo-footer.png" style="max-height:36px; " /></div>
                    </div>
                    <button class="dropdown-btn" id="homeAppModal" data-bind="click: $root.homeAppModal"><i class="demo-icon icon-home-outline" ></i> Trang chủ</button>
                    <button class="dropdown-btn-btn dropdown-btn">
                        <i class="demo-icon icon-newspaper-2"></i>  Tin tức
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container" style="margin-left:20px" id="trendModal" data-bind="click: $root.trendModal" >
                        <p style="padding-left:22px; font-size:18px; opacity:0.8">Tin mới</p>

                    </div>
                    <button class="dropdown-btn" id="videoModal" data-bind="click: $root.videoModal"><i class="demo-icon icon-videocam-5" ></i> Video</button>
                    <button class="dropdown-btn dropdown-btn-btn">
                        <i class="demo-icon icon-mic-outline"></i>  Audio
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container" style="margin-left:20px">
                        <p style="padding-left:22px; font-size:18px; opacity:0.8">Podcast</p>
                        <p style="padding-left:22px; font-size:18px; opacity:0.8">Sách nói</p>
                        <p style="padding-left:22px; font-size:18px; opacity:0.8">Âm nhạc</p>
                    </div>
                    <hr class="hr-bottom" />
                    <div class="container">
                        <h6><strong>BÁO ĐIỆN TỬ VTC NEWS </strong></h6>
                        <p>CQCQ: Đài Truyền hình KTS VTC</p>
                        <p>Tổng biên tập: <strong>Ngô Văn Hải</strong></p>
                        <p><i class="fas fa-map-marker-alt" aria-hidden="true"></i>  <span style="margin-left:6px">Tầng 12A, Tòa nhà 18 Tam Trinh, Hai Bà Trưng, TP.Hà Nội.</span></p>
                        <div style="width:100%">
                            <p><i class="fas fa-phone-alt" aria-hidden="true"></i>  <span style="margin-left:6px">  024.3632.1588</span></p>
                        </div>
                        <div>
                            <p><i class="fas fa-envelope" aria-hidden="true"></i>  <span style="margin-left:6px">toasoan@vtc.gov.vn</span></p>
                        </div>
                    </div>
                </div>
                
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style=" margin-top: 80px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="text-align:center" id="exampleModalLabel">Gửi bình luận</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="_idArticle" hidden />
                <textarea class="form-control" rows="2" id="_value" placeholder="Nội dung"></textarea>
                <span id="checkvalue" style="color:red"></span>
                <input type="text" class="form-control" id="_username" placeholder="Họ và tên" style="margin-top:10px;" />
                <span id="checkusername" style="color:red"></span>
                <input type="email" class="form-control" id="_email" placeholder="Email" style="margin-top:10px;" />
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" style="margin-right:10px;" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" style="background-color:#a3161d" id="button" data-dismiss="modal" data-bind="click: $root.postCommnet">Gửi</button>
            </div>
        </div>
    </div>
</div>
<div class="container opacity-background" id="img-live" style="visibility:hidden">
    <div class="d-flex justify-content-end" style="position: fixed; bottom: 130px; right: 20px;  z-index: 1000;" data-bind="click: $root.live">
        <img src="~/fonts/icon/icon-live.png" width=50 height=50 />
    </div>
</div>
<div id="close-audio" class="d-flex opacity-background" style="position: fixed;
        width: 100%;
        height: 50px;
        bottom: 40px;
        z-index: 1000;
        border-top: solid 1px #e5e5e5;
        border-bottom: solid 1px #e5e5e5;
        background-color: white;
        visibility:hidden
">
    <div style="width:20%;">
        <img id="img-selected" src="" alt="img" class="img-fluid" style="padding:4px; width:100% ;height:50px" />
    </div>
    <div style="width:50%;  ">
        <p style="padding-left:5%; background-color:white">
            <span style="font-weight: bold; height: 100%; padding-top:5%;font-size: 16px;">
                <marquee behavior="scroll" scrollamount="1" direction="left" id="name"></marquee>
            </span>
            <br />
            <span style="color: #b2b2b2" name="author"></span>
        </p>
    </div>
    <div class="d-flex d-flex justify-content-around" style="width:30%; background-color:white; margin-left:5%">
        <div style="width:15%; margin-top:10%;" data-bind="click: $root.setPrevTrack">
            <img src="~/fonts/icon/left.png" class="img-fluid" data-bind="click: $root.leftNext" />
        </div>
        <div style="width:15%; margin-top:10%; " data-bind="click: $root.clickPlay">
            <img id="play-pause" src="~/fonts/icon/pause.png" class="img-fluid" />
        </div>
        <div style="width:15%;  margin-top:10%;">
            <img data-bind="click: $root.rightNext" id="right-audio" src="~/fonts/icon/right.png" class="img-fluid" />
        </div>
    </div>
    <div style="width:5%; ">
        <i class="fas fa-times" style="margin-left:27%;" data-bind="click: $root.closeAudio"></i>
    </div>
    <div>
        <audio id="audio-play" class="video-js vjs-default-skin"
               volume="0.4" autoplay="autoplay">
        </audio>
    </div>
</div>
<div id="avg-nav-bar" class="opacity-background" style="visibility:hidden">
    <button class="select-button selected" id="homeapp" data-bind="click: $root.homeApp">
        <i class="demo-icon icon-home-outline"></i>
        <span>Trang chủ</span>
    </button>
    <button class="select-button " id="trending" data-bind="click: $root.trend">
        <i class="demo-icon icon-bell"></i>
        <span>Tin Mới</span>
    </button>
    <button class="select-button button-video" id="videoapp" data-bind="click: $root.videoApp">
        <i class="demo-icon icon-videocam-5"></i>
        <span>Video</span>
    </button>
    <button class="select-button" id="audioapp"  data-bind="click: $root.audioApp">
        <i class="demo-icon icon-mic-outline"></i>
        <span>Audio</span>
    </button>
    <button class="select-button" data-bind="click: $root.userApp">
        <i class="demo-icon icon-share"></i>
        <span>Chia sẻ</span>
    </button>
</div>
@section scripts {    
    <script defer src="~/AppJs/layoutApp.js?v=4"></script>
}
