<div id="top-header" style="position:fixed;top: 0; width: 100%;z-index:1001">
    <div class="side-nav">
        <nav class="navbar navbar-light ">
            <div class="d-flex justify-content-between" style="width:100%;">
                <div data-bind="click: $root.backAudio">
                    <a class="navbar-brand" href="#">
                        <span><i class="fas fa-arrow-left" style="width:30px;padding-top:5px; color:white"></i></span>
                    </a>
                </div>
                <div style="margin-top:5px">
                    <img src="~/fonts/icon/logo-vtcnews.png" style="height:30px; width:80px" />
                </div>
                <div>
                    <i class="demo-icon icon-search" style="color:white; font-size:16px; padding-top:10px;"></i>
                </div>
            </div>
        </nav>
    </div>
    <div style="margin-top: -10px;">
        <div class="scrollmenu">
            <a href="#home">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a href="#support">Support</a>
            <a href="#blog">Blog</a>
            <a href="#tools">Tools</a>
            <a href="#base">Base</a>
            <a href="#custom">Custom</a>
            <a href="#more">More</a>
            <a href="#logo">Logo</a>
            <a href="#friends">Friends</a>
            <a href="#partners">Partners</a>
            <a href="#people">People</a>
            <a href="#work">Work</a>
        </div>
    </div>
</div>
<div style="background-color:#fff9cc;  margin-bottom:50px;margin-top:88px">
    <div style="margin:0 2%">
        <div>
            <h3 style="color:black; padding:12px; padding-left:0px"><span><i class="demo-icon icon-podcast"></i></span> Podcast</h3>
        </div>
        <div class="audio-podcast" style="width:100%;  background-color:white">
            <div class="img img-text-bottom-left">
                <img src="/fonts/icon/icon-audio.png" class="icon-audio" height="50" width="50">
                <img class="img-fluid img-content" src="~/Content/imgs/meo.jpg" />
                <div class="bottom-left"><span>10 tập</span></div>
            </div>
            <div class="container" style="background-color:white; padding-top:12px; padding-bottom:12px;border-radius:5px">
                <p style="color:black; font-size:20px;"><strong>Điều kiện hôm nhân nghiệp ngã của Trương Quốc Lập - Đặng ngọc hiệp</strong></p>
            </div>
        </div>
        <div class="d-flex justify-content-between" style="margin-top:10px;">
            <div class="audio-podcast" style="width:49%; background-color:white">
                <div class="img img-text-bottom-left">
                    <img src="/fonts/icon/icon-audio.png" class="icon-audio" height="50" width="50">
                    <img class="img-fluid img-content" style="height:125px;" src="~/Content/imgs/meo.jpg" />
                    <div class="bottom-left"><span>10 tập</span></div>
                </div>
                <div class="container" style="background-color:white; padding-top:5px; padding-bottom:5px;border-radius:5px">
                    <p style="color:black; font-size:17px; line-height:20px;"><strong>nghiệp ngã của Trương Quốc Lập - Đặng ngọc hiệp</strong></p>
                </div>
            </div>
            <div class="audio-podcast" style="width:49%; background-color:white">
                <div class="img img-text-bottom-left">
                    <img src="/fonts/icon/icon-audio.png" class="icon-audio" height="50" width="50">
                    <img class="img-fluid img-content" style="height:125px;" src="~/Content/imgs/meo.jpg" />
                    <div class="bottom-left"><span>10 tập</span></div>
                </div>
                <div class="container" style="background-color:white; padding-top:5px; padding-bottom:5px;border-radius:5px">
                    <p style="color:black; font-size:17px; line-height:20px;"><strong>nghiệp ngã của Trương Quốc Lập - Đặng ngọc hiệp</strong></p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between" style="margin-top:10px;">
            <div class="audio-podcast" style="width:49%; background-color:white">
                <div class="img img-text-bottom-left">
                    <img src="/fonts/icon/icon-audio.png" class="icon-audio" height="50" width="50">
                    <img class="img-fluid img-content" style="height:125px;" src="~/Content/imgs/meo.jpg" />
                    <div class="bottom-left"><span>10 tập</span></div>
                </div>
                <div class="container" style="background-color:white; padding-top:5px; padding-bottom:5px;border-radius:5px">
                    <p style="color:black; font-size:17px; line-height:20px;"><strong>nghiệp ngã của Trương Quốc Lập - Đặng ngọc hiệp</strong></p>
                </div>
            </div>
            <div class="audio-podcast" style="width:49%; background-color:white">
                <div class="img img-text-bottom-left">
                    <img src="/fonts/icon/icon-audio.png" class="icon-audio" height="50" width="50">
                    <img class="img-fluid img-content" style="height:125px;" src="~/Content/imgs/meo.jpg" />
                    <div class="bottom-left"><span>10 tập</span></div>
                </div>
                <div class="container" style="background-color:white; padding-top:5px; padding-bottom:5px;border-radius:5px">
                    <p style="color:black; font-size:17px; line-height:20px;"><strong>nghiệp ngã của Trương Quốc Lập - Đặng ngọc hiệp</strong></p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center" style="padding-bottom:20px; padding-top:20px;">
            <button class="button button-0 button-6">Xem thêm</button>
        </div>
    </div>
</div>

<script src="~/AppJs/audioPodcast.js"></script>