<div id="top-header" style="position:fixed;top: 0; width: 100%;z-index:1001">
    <div class="side-nav">
        <nav class="navbar navbar-light ">
            <div id="input-sidebar">

            </div>
            <div class="d-flex justify-content-between opacity-background" style="width:100%;">
                <div>
                    <a class="navbar-brand" href="#" style="padding-top:0px">
                        <span style="font-size:16px;cursor:pointer; color:white" onclick="openNav()"><i class="demo-icon icon-menu"></i></span>
                    </a>
                </div>
                <div style="margin-top:5px">
                    <img src="~/fonts/icon/logo-vtcnews.png" style="height:30px; width:80px" />
                </div>
                <div>
                    <i class="demo-icon icon-search" style="color:white; font-size:16px; padding-top:10px;"></i>
                </div>
            </div>
        </nav>
    </div>
    <div style="margin-top: -10px;" class="opacity-background">
        <div class="scrollmenu">
            <a href="#">
                <i class="demo-icon icon-home-outline"></i>
            </a>
            <!--ko foreach: $root.homeMenus -->
            <a href="#" data-bind="click: $root.selectHomeMenu"><span data-bind="text: title"></span></a>
            <!-- /ko -->
        </div>
    </div>
</div>
<div onclick="closeNav()">
    <div style="background-color:#fff9cc; margin-top:80px; " id="bg-audio" class="opacity-background load-hidden">
        <div style="margin: 2%">
            <div>              
                <h3 style="color:black; padding:12px; padding-left:0px"><span><i class="demo-icon icon-podcast"></i></span> Podcast</h3>
            </div>
            <div data-bind=" click: $root.audioDetail">
                <div class="audio-podcast" style="width:100%;" data-bind="foreach: podcast; ">
                    <div class="img img-text-bottom-left">
                        <img src="/fonts/icon/icon-audio.png" class="icon-audio" height="50" width="50">
                        <img class="img-fluid img-content" data-bind="attr: { src: $root.imagePoster() }" />
                        <div class="bottom-left"><span data-bind="text: $root.podcastLength"></span><span>tập </span> </div>
                    </div>
                    <div class="container" style="background-color:white; padding-top:5px; padding-bottom:2px;border-radius: 5px;">
                        <p style="color:black; font-size:20px;"><strong data-bind="text: Title"></strong></p>
                    </div>
                </div>
            </div>

            <div>
                <div class="d-flex justify-content-between" style="margin-top:10px;">
                    <div class="audio-podcast" style="width:49%; background-color:white">
                        <div class="img img-text-bottom-left">
                            <img src="/fonts/icon/icon-audio.png" class="icon-audio" height="50" width="50">
                            <img class="img-fluid img-content"  src="https://image.vtc.vn/resize/w1JaaFnI-oNXi_YqgetJ_zOOAJe9CHtg0//upload/2020/10/15/rao-trang--sat-lo-17103401.jpg" />
                            <div class="bottom-left"><span>10 tập</span></div>
                        </div>
                        <div class="container" style="background-color:white; padding-top:5px; padding-bottom:5px;border-radius: 5px;">
                            <p style="color:black; font-size:17px; line-height:20px;"><strong>nghiệp ngã của Trương Quốc Lập - Đặng ngọc hiệp</strong></p>
                        </div>
                    </div>
                    <div class="audio-podcast" style="width:49%; background-color:white">
                        <div class="img img-text-bottom-left">
                            <img src="/fonts/icon/icon-audio.png" class="icon-audio" height="50" width="50">
                            <img class="img-fluid img-content"  src="https://image.vtc.vn/resize/w1JaaFnI-oNXi_YqgetJ_zOOAJe9CHtg0//upload/2020/10/15/rao-trang--sat-lo-17103401.jpg" />
                            <div class="bottom-left"><span>10 tập</span></div>
                        </div>
                        <div class="container" style="background-color:white; padding-top:5px; padding-bottom:5px;border-radius: 5px;">
                            <p style="color:black; font-size:17px; line-height:20px;"><strong>nghiệp ngã của Trương Quốc Lập - Đặng ngọc hiệp</strong></p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="d-flex justify-content-center" style="padding-bottom:20px; padding-top:20px;">
                <button class="button button-0 button-6" data-bind="click: $root.audioPodcast">Xem thêm</button>
            </div>
        </div>
    </div>

    <div style="background-color:#fe6f61;" class="opacity-background">
        <div style="margin:0 2%">
            <div>
                <h3 style="color:white; padding:12px; padding-left:0px"><span><i class="demo-icon icon-book"></i></span> Sách nói</h3>
            </div>
            <div class="audio-podcast" style="width:100%;  background-color:white">
                <div class="img img-text-bottom-left">
                    <img src="/fonts/icon/icon-audio.png" class="icon-audio" height="50" width="50">
                    <img class="img-fluid img-content" src="https://image.vtc.vn/resize/w1JaaFnI-oNXi_YqgetJ_zOOAJe9CHtg0//upload/2020/10/15/rao-trang--sat-lo-17103401.jpg" />
                    <div class="bottom-left"><span>10 tập</span></div>
                </div>
                <div class="container" style="background-color:white; padding-top:12px; padding-bottom:12px;border-radius: 5px;">
                    <p style="color:black; font-size:20px;"><strong>Điều kiện hôm nhân nghiệp ngã của Trương Quốc Lập - Đặng ngọc hiệp</strong></p>
                </div>
            </div>
            <div class="d-flex justify-content-between" style="margin-top:10px;">
                <div class="audio-podcast" style="width:49%; background-color:white">
                    <div class="img img-text-bottom-left">
                        <img src="/fonts/icon/icon-audio.png" class="icon-audio" height="50" width="50">
                        <img class="img-fluid img-content"  src="https://image.vtc.vn/resize/w1JaaFnI-oNXi_YqgetJ_zOOAJe9CHtg0//upload/2020/10/15/rao-trang--sat-lo-17103401.jpg" />
                        <div class="bottom-left"><span>10 tập</span></div>
                    </div>
                    <div class="container" style="background-color:white; padding-top:5px; padding-bottom:5px;border-radius: 5px;">
                        <p style="color:black; font-size:17px; line-height:20px;"><strong>nghiệp ngã của Trương Quốc Lập - Đặng ngọc hiệp</strong></p>
                    </div>
                </div>
                <div class="audio-podcast" style="width:49%; background-color:white">
                    <div class="img img-text-bottom-left">
                        <img src="/fonts/icon/icon-audio.png" class="icon-audio" height="50" width="50">
                        <img class="img-fluid img-content"  src="https://image.vtc.vn/resize/w1JaaFnI-oNXi_YqgetJ_zOOAJe9CHtg0//upload/2020/10/15/rao-trang--sat-lo-17103401.jpg" />
                        <div class="bottom-left"><span>10 tập</span></div>
                    </div>
                    <div class="container" style="background-color:white; padding-top:5px; padding-bottom:5px">
                        <p style="color:black; font-size:17px; line-height:20px;"><strong>nghiệp ngã của Trương Quốc Lập - Đặng ngọc hiệp</strong></p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between" style="margin-top:10px;">
                <div class="audio-podcast" style="width:49%; background-color:white">
                    <div class="img img-text-bottom-left">
                        <img src="/fonts/icon/icon-audio.png" class="icon-audio" height="50" width="50">
                        <img class="img-fluid img-content"  src="https://image.vtc.vn/resize/w1JaaFnI-oNXi_YqgetJ_zOOAJe9CHtg0//upload/2020/10/15/rao-trang--sat-lo-17103401.jpg" />
                        <div class="bottom-left"><span>10 tập</span></div>
                    </div>
                    <div class="container" style="background-color:white; padding-top:5px; padding-bottom:5px;border-radius: 5px;">
                        <p style="color:black; font-size:17px; line-height:20px;"><strong>nghiệp ngã của Trương Quốc Lập - Đặng ngọc hiệp</strong></p>
                    </div>
                </div>
                <div class="audio-podcast" style="width:49%; background-color:white">
                    <div class="img img-text-bottom-left">
                        <img src="/fonts/icon/icon-audio.png" class="icon-audio" height="50" width="50">
                        <img class="img-fluid img-content"  src="https://image.vtc.vn/resize/w1JaaFnI-oNXi_YqgetJ_zOOAJe9CHtg0//upload/2020/10/15/rao-trang--sat-lo-17103401.jpg" />
                        <div class="bottom-left"><span>10 tập</span></div>
                    </div>
                    <div class="container" style="background-color:white; padding-top:5px; padding-bottom:5px;border-radius: 5px;">
                        <p style="color:black; font-size:17px; line-height:20px;"><strong>nghiệp ngã của Trương Quốc Lập - Đặng ngọc hiệp</strong></p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center" style="padding-bottom:20px; padding-top:20px;">
                <button class="button button-0 button-7" data-bind="click: $root.audioBook">Xem thêm</button>
            </div>
        </div>
    </div>

    <div style="background-color:#50b6ba; margin-bottom:50px;" class="opacity-background">
        <div style="margin: 0 2%">
            <div>
                <h3 style="color:white; padding:12px; padding-left:0px"><span><i class="demo-icon icon-music-2"></i></span> Âm nhạc</h3>
            </div>
            <div class="audio-podcast" style="width:100%;background-color:white ">
                <div class="img img-text-bottom-left">
                    <img src="/fonts/icon/icon-audio.png" class="icon-audio" height="50" width="50">
                    <img class="img-fluid img-content" src="https://image.vtc.vn/resize/w1JaaFnI-oNXi_YqgetJ_zOOAJe9CHtg0//upload/2020/10/15/rao-trang--sat-lo-17103401.jpg" />
                    <div class="bottom-left"><span>10 ca khúc</span></div>
                </div>
                <div class="container" style="background-color:white; padding-top:12px; padding-bottom:12px;border-radius: 5px;">
                    <p style="color:black; font-size:20px;"><strong>Điều kiện hôm nhân nghiệp ngã của Trương Quốc Lập - Đặng ngọc hiệp</strong></p>
                </div>
            </div>
            <div class="d-flex justify-content-between" style="margin-top:10px;">
                <div class="audio-podcast" style="width:49%; background-color:white">
                    <div class="img img-text-bottom-left">
                        <img src="/fonts/icon/icon-audio.png" class="icon-audio" height="50" width="50">
                        <img class="img-fluid img-content"  src="https://image.vtc.vn/resize/w1JaaFnI-oNXi_YqgetJ_zOOAJe9CHtg0//upload/2020/10/15/rao-trang--sat-lo-17103401.jpg" />
                        <div class="bottom-left"><span>10 ca khúc</span></div>
                    </div>
                    <div class="container" style="background-color:white; padding-top:5px; padding-bottom:5px;border-radius: 5px;">
                        <p style="color:black; font-size:17px; line-height:20px;"><strong>nghiệp ngã của Trương Quốc Lập - Đặng ngọc hiệp</strong></p>
                    </div>
                </div>
                <div class="audio-podcast" style="width:49%; background-color:white">
                    <div class="img img-text-bottom-left">
                        <img src="/fonts/icon/icon-audio.png" class="icon-audio" height="50" width="50">
                        <img class="img-fluid img-content"  src="https://image.vtc.vn/resize/w1JaaFnI-oNXi_YqgetJ_zOOAJe9CHtg0//upload/2020/10/15/rao-trang--sat-lo-17103401.jpg" />
                        <div class="bottom-left"><span>10 tập</span></div>
                    </div>
                    <div class="container" style="background-color:white; padding-top:5px; padding-bottom:5px">
                        <p style="color:black; font-size:17px; line-height:20px;"><strong>nghiệp ngã của Trương Quốc Lập - Đặng ngọc hiệp</strong></p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between" style="margin-top:10px;">
                <div class="audio-podcast" style="width:49%; background-color:white">
                    <div class="img img-text-bottom-left">
                        <img src="/fonts/icon/icon-audio.png" class="icon-audio" height="50" width="50">
                        <img class="img-fluid img-content"  src="https://image.vtc.vn/resize/w1JaaFnI-oNXi_YqgetJ_zOOAJe9CHtg0//upload/2020/10/15/rao-trang--sat-lo-17103401.jpg" />
                        <div class="bottom-left"><span>10 ca khúc</span></div>
                    </div>
                    <div class="container" style="background-color:white; padding-top:5px; padding-bottom:5px;border-radius: 5px;">
                        <p style="color:black; font-size:17px; line-height:20px;"><strong>nghiệp ngã của Trương Quốc Lập - Đặng ngọc hiệp</strong></p>
                    </div>
                </div>
                <div class="audio-podcast" style="width:49%; background-color:white">
                    <div class="img img-text-bottom-left">
                        <img src="/fonts/icon/icon-audio.png" class="icon-audio" height="50" width="50">
                        <img class="img-fluid img-content"  src="https://image.vtc.vn/resize/w1JaaFnI-oNXi_YqgetJ_zOOAJe9CHtg0//upload/2020/10/15/rao-trang--sat-lo-17103401.jpg" />
                        <div class="bottom-left"><span>10 ca khúc</span></div>
                    </div>
                    <div class="container" style="background-color:white; padding-top:5px; padding-bottom:5px;border-radius: 5px;">
                        <p style="color:black; font-size:17px; line-height:20px;"><strong>nghiệp angã của Trương Quốc Lập - Đặng ngọc hiệp</strong></p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center" style="padding-bottom:20px; padding-top:20px;">
                <button class="button button-0 button-8" data-bind="click: $root.audioMusic">Xem thêm</button>
            </div>
        </div>
    </div>
</div>
<script src="~/AppJs/audio.js?v=3"></script>