<div id="top-header" style="position:fixed;top: 0; width: 100%;z-index:1001">
    <div class="side-nav">
        <nav class="navbar navbar-light ">
            <div class="d-flex justify-content-between opacity-background" style="width:100%;">
                <div data-bind="click: $root.backHomeMenu">
                    <a class="navbar-brand" href="#" style="padding-top:0px">
                        <span style="font-size:16px;cursor:pointer; color:white" onclick="openNav()"><i class="demo-icon icon-left-4" style="color:white"></i></span>
                    </a>
                </div>
                <div style="margin-top:5px">
                    <img src="~/fonts/icon/logo-vtcnews.png" style="height:30px; width:80px" />
                </div>
                <div>
                    <i class="demo-icon icon-search" style="color:white; font-size:16px; padding-top:10px;"></i>
                </div>
            </div>
        </nav>
    </div>

</div>

<div class="container" style="margin-top:65px;">
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="~/Content/imgs/vov1.png" />
        </div>
        <div class="col">
            <img class="img-fluid" src="~/Content/imgs/vovgthcm.png" />
        </div>
        <div class="col">
            <img class="img-fluid" src="~/Content/imgs/vov2.png" />
        </div>
    </div>
    <div class="row" style="margin-top:15px;">
        <div class="col">
           
            <img class="img-fluid" src="~/Content/imgs/vov3.png" />
        </div>
        <div class="col">
            <img class="img-fluid" src="~/Content/imgs/vov4.png" />
        </div>
        <div class="col">
            <img class="img-fluid" src="~/Content/imgs/vov5.png" />
        </div>
    </div>
    <div class="row" style="margin-top:15px;">
        <div class="col">
            <img class="img-fluid" src="~/Content/imgs/vov6.png" />
        </div>
        <div class="col">
            <img class="img-fluid" src="~/Content/imgs/vovgthcm.png" />
        </div>
        <div class="col">
            <img class="img-fluid" src="~/Content/imgs/vovtv.png" />            
        </div>
    </div>
</div>