<div id="mySidenav" style="width:0px" class="sidenav">
    <div class="d-flex d-flex justify-content-between container" style="width:100%; margin-left:5px; ">
        <div><img src="~/Content/imgs/logo.png" style="height:80px; width:150px; " /></div>
        <div> <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> &times;</a></div>
    </div>
    <a href="#"><i class="demo-icon icon-home-outline"></i> Trang chủ</a>
    <button class="dropdown-btn">
        <i class="demo-icon icon-newspaper-2"></i>  Tin tức
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container " style="margin-left:20px">
        <a href="#">Podcast</a>
        <a href="#">Sách nói</a>
        <a href="#">Âm nhạc</a>
    </div>
    <a href="#clients"><i class="demo-icon icon-videocam-5"></i> Video</a>
    <button class="dropdown-btn">
        <i class="demo-icon icon-mic-outline"></i>  Audio
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container" style="margin-left:20px">
        <a href="#">Podcast</a>
        <a href="#">Sách nói</a>
        <a href="#">Âm nhạc</a>
    </div>
    <hr class="hr-bottom" />
    <div class="container">
        <h6><strong>BÁO ĐIỆN TỬ VTC NEWS </strong></h6>
        <p>CQCQ: Đài Truyền hình KTS VTC</p>
        <p>Tổng biên tập: <strong>Ngô Văn Hải</strong></p>
        <p><i class="fas fa-map-marker-alt" aria-hidden="true"></i>  <span style="margin-left:6px">Tầng 12A, Tòa nhà 18 Tam Trinh, Hai Bà Trưng, TP.Hà Nội.</span></p>
        <div style="width:100%">
            <p><i class="fas fa-phone-alt" aria-hidden="true"></i>  <span style="margin-left:6px">  024.3632.1588</span></p>
        </div>
        <div>
            <p><i class="fas fa-envelope" aria-hidden="true"></i>  <span style="margin-left:6px">toasoan@vtc.gov.vn</span></p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.body.style.backgroundColor = "white";
    });
    function openNav() {
        document.getElementById("mySidenav").style.width = "80%";             
        $('.opacity-background').css('opacity', 0.4);
    }
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        $('.opacity-background').css('opacity', 1);;
    }
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;
    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>