<div id="top-header" style="position:fixed;top: 0; width: 100%;z-index:1001">
    <div class="side-nav">
        <nav class="navbar navbar-light ">
            <div id="input-sidebar">
            </div>
            <div class="d-flex justify-content-between opacity-background" style="width:100%;">
                <div>
                    <a class="navbar-brand" href="#" style="padding-top:0px">
                        <span style="font-size:16px;cursor:pointer; color:white" onclick="openNav()"><i class="demo-icon icon-menu"></i> </span>
                    </a>
                </div>
                <div style="margin-top:5px">
                    <img src="~/fonts/icon/logo-vtcnews.png" style="height:30px; width:80px" />
                </div>
                <div>
                    <i class="demo-icon icon-search" style="color:white; font-size:16px; padding-top:10px;"></i>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--ko if: $root.mode() == "lazyloading" -->
<div>
    <div class="card br" style="margin-top:100px;">
        <div class="wrapper">
            <div class="comment br animate w80"></div>
            <div class="comment br animate"></div>
            <div class="comment br animate"></div>
        </div>
    </div>
    <div class="card br">
        <div class="wrapper">
            <div class="comment br animate w80"></div>
            <div class="comment br animate"></div>
            <div class="comment br animate"></div>
        </div>
    </div>
    <div class="card br">
        <div class="wrapper">
            <div class="comment br animate w80"></div>
            <div class="comment br animate"></div>
            <div class="comment br animate"></div>
        </div>
    </div>
    <div class="card br">
        <div class="wrapper">
            <div class="comment br animate w80"></div>
            <div class="comment br animate"></div>
            <div class="comment br animate"></div>
        </div>
    </div>
    <div class="card br">
        <div class="wrapper">
            <div class="comment br animate w80"></div>
            <div class="comment br animate"></div>
            <div class="comment br animate"></div>
        </div>
    </div>
</div>
<!-- /ko -->
<!--ko if: $root.mode() == "" -->
<div onclick="closeNav()" class="opacity-background load-hidden" style=" margin-bottom:100px; margin-top:56px; " data-bind="foreach: videoHomes">
    <div style="width:100%" data-bind="click: $root.loadByVideoByID">
        <div class="img">
            <img src="~/fonts/icon/icon-video.png" class="icon-audio" height=50 width=50 />
            <img class="img-fluid img-content" data-bind="attr: {src: $root.getImage($data, 'Thumbnail')}" />
        </div>
        <div class="container " style="margin-top:10px">
            <p class="p-content"><strong data-bind="text:Name"></strong>  </p>
            <p class="size-content"><span style="opacity:0.5" data-bind="text: moment(Schedule()).fromNow()"></span> <span style="color:#a3161d" data-bind="text: Name"></span></p>
            <hr class="hr-bottom" />
        </div>
    </div>
</div>
<!-- /ko -->
<script src="~/AppJs/video.js"></script>